@import '../bootstrap/custom-bootstrap-variables';
@import "bootstrap/scss/mixins/border-radius";
@import "bootstrap/scss/vendor/rfs";
@import "bootstrap/scss/breadcrumb";
@import 'mixins/a11y';

.breadcrumb {
  background-color: transparent;
  @include font-size($small-font-size);
  padding-left: 0;
  padding-right: 0;
  color: $gray-900;
  margin-bottom: 0;

  > li {
    margin-right: .5em;

    & + li::before {
      content: "\ab";
      padding-right: .5em;
    }

    &.active {
      color: $gray-700;
    }
  }

  a {
    color: $body-color;
    text-decoration: underline;
    text-underline-offset: .35em;
    @include focusOutlineAndResetHover;

    &[aria-current] {
      text-decoration: none;
    }
  }
}