.region__wrap {-moz-column-gap: var(--body-grid-gap-x,2rem);column-gap: var(--body-grid-gap-x,2rem)
}@media (min-width: 1024px) {.region__wrap>.region {grid-row-start: 1
    }
}.region__wrap .region--content {grid-column-start: 1;grid-column-end: 13
}@media (min-width: 1024px) {.page--has-content-prefix .region__wrap .region--content {grid-column-start: 4
    }.page--has-content-suffix .region__wrap .region--content {grid-column-end: 10
    }.region__wrap :where(.region--content-prefix,.region--content-suffix) {align-self: flex-start
    }.region__wrap .region--content-prefix {grid-column-start: 1;grid-column-end: 4
    }.region__wrap .region--content-suffix {grid-column-start: 10;grid-column-end: 13
    }
}