@mixin placeholder {
  &::-webkit-input-placeholder,
  &:-moz-placeholder,
  &::-moz-placeholder,
  &:-ms-input-placeholder {
    @content
  }  
}

@mixin no-appearance {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}