

@mixin external-link-icon {

  svg {
    width: auto;
    max-width: 1em;
    height: 1em;
    padding: 0;
    vertical-align: baseline;
    margin-left: .1em;

    path {
      stroke: currentColor;
    }
  }
}