
@mixin tintFullWidthBackground($color: silver) {
  position: relative;
  background-color: $color;
  
  &::before {
    content: '';
    display: block;
    background-color: $color;
    z-index: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: -9999px;
    border-left: 9999px solid $color;
    box-shadow: 9999px 0 0 $color;
    left: 50%;
    transform: translateX(-100%);
  }
}