@import './ie11';

@mixin responsive-ratio($aspectRatio: (3, 2)) {
  $multiplier: nth($aspectRatio, 2) / nth($aspectRatio, 1);
  width: 100%;
  padding-bottom: 100% * $multiplier;
  position: relative;
  overflow: hidden;
  //display: grid;
  display: -ms-grid;
  height: 0;
  
  /*@include ie {
    padding-bottom: 100% * $multiplier;
  }*/
  
  img, object, embed, video, iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
}