/**
 * @file
 * BEM block for gallery.
 */

$gallery-gray: #1c1c1c;
$gallery-gray-dark: #161616;

.gallery {
  /* Create a positioning context */
  position: relative;
  margin-top: $spacing-and-half;
  @include respond-to(desktop-and-up) {
    margin-top: $spacing-double;
  }
  .field-name-field-description {
    @include respond-to(tablet-large-and-down) {
      margin-top: $spacing-half;
    }
  }
  .action--back {
    position: absolute;
    top: -($spacing-and-half);
    left: 0;
    @include respond-to(desktop-and-up) {
     top: -($spacing-double);
    }
  }
  /* Special style for the pager in a gallery */
  .pager {
    @include respond-to(desktop-and-up) {
      @include make-md-column(1);
      position: absolute;
      top: 0;
      right: 0;
      margin: 0;
      min-height: 300px;
      border-left: 1px solid $brand-border;
    }
    @extend %pagination--text-hide;
    .pager-current {
      @include respond-to(desktop-and-up) {
        top: 0;
        right: 0;
        text-align: right;
        font-size: 16px;
      }
    }
    li {
      &.pager-previous,
      &.pager-next {
        width: 30px;
        cursor: not-allowed;
        @include respond-to(desktop-and-up) {
          position: absolute;
          right: 0;
        }
        &:before {
          content: '';
          position: absolute;
          font-size: 16px;
        }
        > a {
          &:after {
            top: 4px;
          }
        }
      }
      &.pager-previous {
        @include respond-to(desktop-and-up) {
          top: 38px;
        }
        > a {
          padding: 10px 20px 10px 10px;
          &:after {
            left: 3px;
          }
        }
        &:before {
          @include sprite(arrow--large-left-light-grey);
          top: 4px;
          left: 3px;
          @include respond-to(tablet-and-up) {
            left: 2px;
          }
        }
      }
      &.pager-next {
        @include respond-to(desktop-and-up) {
          top: 104px;
        }
        > a {
          padding: 10px 10px 10px 20px;
          &:after {
            right: 2px;
          }
        }
        &:before {
          @include sprite(arrow--large-right-light-grey);
          top: 4px;
          right: 2px;
        }
      }
    }
  }
}

.gallery__media-wrapper {
  background-color: #111;
  img {
    display: inline;
  }
}

.gallery--carousel {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $gallery-gray-dark;
  z-index: 2;
  margin-top: 0;
  &.carousel-is-active {
    display: block;
  }
  @include respond-to(desktop-and-up) {
    margin-top: 0;
  }
  img {
    margin: auto;
    white-space: nowrap;
    height: auto;
    width: auto;
    max-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    @include respond-to(desktop-and-up) {
      margin: 0 auto;
      position: static;
      top: auto;
      left: auto;
      bottom: auto;
      right: auto;
    }
  }
  .view-header {
    position: relative;
  }
  .action--close {
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 10;
    width: 50px;
    height: 50px;
    background: $gray-darker;
    &:before {
      @include sprite(icon--close-small-white);
      top: 15px;
      left: 15px;
    }
    &:hover {
      background: $gray-dark;
    }
  }
  .action--information {
    width: 50px;
    height: 50px;
    background: $gray-darker;
    position: absolute;
    top: 15px;
    right: 75px;
    z-index: 10;
    .js & {
      @include respond-to(desktop-and-up) {
        display: none;
      }
    }
    &:before {
      @include sprite(icon--info-white);
      top: 15px;
      left: 15px;
    }
    &:hover {
      background: $gray-dark;
    }
  }
  .carousel-inner,
  .item,
  .file,
  .row,
  .col-md-8,
  .view-content,
  .carousel,
  .gallery__media-wrapper,
  .col-md-3 {
    height: 100%;
  }
  .gallery__media-wrapper {
    position: relative;
    background-color: $gallery-gray;
    @include respond-to(tablet-large-and-down) {
      margin-left: -15px;
      margin-right: -15px;
    }
  }
  .row {
    @include respond-to(tablet-large-and-down) {
      margin: 0;
    }
  }
  .col-md-3 {
    border-right: 1px solid $gray-dark;
    @include respond-to(tablet-large-and-down) {
      position: absolute;
      bottom: 0;
      z-index: 5;
      height: auto;
      padding: 15px;
      border-right: none;
      width: 100%;
      background-color: $gallery-gray;
      display: none;
      &.caption-is-visible {
        display: block;
      }
    }
  }
  .field-name-field-title {
    color: $white;
    @include font-smoothing;
    @extend %has-margin-top-triple;
  }
  .field-name-field-description {
    color: #f6f6f6;
    @include font-smoothing;
  }
  .carousel {
    margin: 0 auto;
    width: 100%;
  }
  .carousel-control {
    @include opacity(1);
    &:hover,
    &:focus {
      @include opacity(1);
    }
    &:focus {
      outline: 3px solid $brand-focused;
      outline-offset: 0;
      @include respond-to(tablet-large-and-down) {
        outline: none;
      }
    }
    width: 50px;
    height: 50px;
    bottom: auto;
    @include respond-to(tablet-large-and-down) {
      width: 100px;
      height: 100px;
    }
    &.left {
      background: transparent;
      left: auto;
      right: 15px;
      top: 85px;
      &:focus {
        background-color: $brand-focused;
        @include respond-to(tablet-large-and-down) {
          background-color: transparent;
        }
      }
      @include respond-to(tablet-large-and-down) {
        top: 45%;
        left: 0;
      }
    }
    &.right {
      background: transparent;
      right: 15px;
      top: 145px;
      &:focus {
        background-color: $brand-focused;
        @include respond-to(tablet-large-and-down) {
          background-color: transparent;
        }
      }
      @include respond-to(tablet-large-and-down) {
        top: 45%;
        right: 0;
      }
    }
    .icon-prev,
    .icon-next {
      background: $gray-darker;
      font-size: 10px;
      right: auto;
      left: 0;
      right: 0;
      width: 50px;
      height: 50px;
      margin: 0;
      top: 0;
      @include respond-to(tablet-large-and-down) {
        background: transparent;
        width: 100px;
        height: 100px;
      }
      &:hover {
        background: $gray-dark;
        @include respond-to(tablet-large-and-down) {
          background: transparent;
        }
      }
      &:before {
        content: '';
        position: absolute;
        top: 12px;
        left: 16px;
        width: 50px;
        height: 50px;
        background-repeat: no-repeat;
        background-position: 0 0;
        @include respond-to(tablet-large-and-down) {
          display: none;
          top: 37px;
          left: 16px;
        }
      }
    }
    .icon-prev {
      &:before {
        @include sprite(arrow--large-left-white);
      }
    }
    .icon-next {
      &:before {
        @include sprite(arrow--large-right-white);
        left: 20px;
        @include respond-to(tablet-large-and-down) {
          left: auto;
          right: 20px;
        }
      }
    }
  }
}

html {
  &.carousel-is-active {
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-color: $gallery-gray;
      height: 999px;
      width: 100%;
      z-index: 1;
    }
    body {
      overflow: hidden;
    }
  }
}
