/**
 * @file
 * BEM block for Node.
 */
.node__title {
  .title {
    .node-type-media-collection &,
    .page-media-collections-archive & {
      @include respond-to(wide-and-up) {
        text-align: center;
        padding-right: span(1 of 12);
        padding-left: span(1 of 12);
      }
    }
  }
}
