/**
 * @file
 * BEM block for View.
 */

.view-custom-view-media-collection-listing {
  .view-header {
    @include respond-to(wide-and-up) {
      text-align: center;
      padding-right: span(1 of 12);
      padding-left: span(1 of 12);
    }
  }
  .text-center {
    clear: both;
  }
}

.view-custom-view-media-collection-content {
  .slat {
    > a {
      display: block;
    }
  }
}
