/**
 * @file
 * BEM block for Views exposed form.
 */
#views-exposed-form-custom-view-media-collection-listing-page-1 {
  .view-filters & {
    @extend %responsive-layout--d3;
  }
  .views-exposed-widget {
    &.views-submit-button {
      clear: both;
      @include respond-to(desktop-and-up) {
        clear: none;
        margin-top: 30px;
        margin-left: $spacing-half;
      }
      @include respond-to(wide-and-up) {
        margin-left: $spacing-base;
      }
    }
    &.views-reset-button {
      @include respond-to(desktop-and-up) {
        margin-top: 30px;
      }
    }
  }
}
