{% block content %}
<div class="control__menu">
    <div class="toggle toggle--navigation js-toggle-navigation">
    <span class="icon--inline icon--menu">
      <span class="sr-only sr-only-focusable">Open main menu</span>
    </span>
    <span class="icon--inline icon--close">
      <span class="sr-only sr-only-focusable">Close main menu</span>
    </span>
    </div>
</div>
<div class="control__search">
    <div class="toggle toggle--search js-toggle-search">
    <span class="icon--inline icon--search">
      <span class="sr-only sr-only-focusable">Open search</span>
    </span>
    <span class="icon--inline icon--close">
      <span class="sr-only sr-only-focusable">Close search</span>
    </span>
    </div>
</div>
{% endblock %}