{% block content %}
<button aria-label="Open search" role="button" aria-pressed="false" class="toggle toggle--search js-toggle-flyout-search" tabindex="0">
  <span class="icon--inline icon--search">
    <span class="sr-only sr-only-focusable">Open search</span>
  </span>
  <span class="icon--inline icon--close">
    <span class="sr-only sr-only-focusable">Close search</span>
  </span>
</button>
{% endblock %}