{% block content %}
<a href="/search" role="button" aria-label="Open search" aria-pressed="false" class="toggle toggle--search js-toggle-flyout-search" tabindex="0">
  <span class="icon--inline icon--search">
    <span class="sr-only sr-only-focusable">Open search</span>
  </span>
  <span class="icon--inline icon--close">
    <span class="sr-only sr-only-focusable">Close search</span>
  </span>
</a>
{% endblock %}
