{% block content %}
<div class="toggle toggle--search js-toggle-flyout-search">
  <span class="icon--inline icon--search">
    <span class="sr-only sr-only-focusable">Open search</span>
  </span>
  <span class="icon--inline icon--close">
    <span class="sr-only sr-only-focusable">Close search</span>
  </span>
</div>
{% endblock %}