{% block content %}
    <form class="form-search content-search" action="/search-results" method="GET" id="custom-search-api-form" accept-charset="UTF-8">
        <h2 class="sr-only">Search form</h2>
        <div class="input-group">
            <label for="edit-custom-search-api-form" class="sr-only">
                Search this site:
            </label>
            <input title="Enter the terms you wish to search for." placeholder="Search" class="form-control form-text search__input" type="text" id="edit-custom-search-api-form" name="search_api_fulltext" value="" size="15" maxlength="128">
    <span class="input-group-btn">
      <label for="custom-search-submit" class="sr-only">Submit</label>
      <button type="submit" class="btn btn-default" id="custom-search-submit">
          <span class="sr-only">Search</span>
          <span class="icon glyphicon glyphicon-search" aria-hidden="true"></span>
      </button>
    </span>
        </div>
    </form>
{% endblock %}