@import '../prose/default';

.slat__body {
  @include prose;
  line-height: $line-height-base;
  width: 100%;
  
  * + & {
    margin-top: calc(#{$spacer} * .5);
  }
  
  .lead {
    font-size: $font-size-base;
    line-height: 1.55555;
    font-weight: normal;
    @include prose;
  }
}