@import 'mixins/a11y';

.slat__title {
  line-height: 1.2;
  font-weight: $font-weight-bold;
  
  > a {
    color: $body-color;
    
    &:focus {
      @include focusOutline;
    }
    
    @media (hover:hover) {
      &:hover, &:active {
        outline: none;
        text-decoration: underline;
      }
    }
  }
  
    
  &.text-decoration-underline a:hover {
    color: $link-hover-color;
  }
}