@import 'bootstrap/custom-bootstrap-variables';
@import 'mixins/type';

.slat {
  @include font-smoothing;
  display: flex;
  flex-direction: column;
  flex-direction: row;
  flex-wrap: wrap;
  
  > .contextual {
    //z-index: 100;
  }
  
  > .contextual + a {
    z-index: 0;
  }
}


@import './media';
@import './link';
@import './body';
@import './title';