@mixin prose {
  @apply wysiwyg wysiwyg-gray @lg/prose:wysiwyg-lg @xl/prose:wysiwyg-xl dark:wysiwyg-invert;

  --tw-prose-heading-tracking: theme(letterSpacing.normal);
  --tw-prose-heading-family: theme(fontFamily.sans);
  --tw-prose-heading-weight: theme(fontWeight.medium);
  --tw-prose-links-hover-color: theme(colors.gray.600);

  :where(h2, h3, h4, h5, h6) {
    @apply tracking-[var(--tw-prose-heading-tracking)];

    font-family: var(
      --tw-prose-heading-family-override,
      var(--tw-prose-heading-family)
    );
    font-weight: var(
      --tw-prose-heading-weight-override,
      var(--tw-prose-heading-weight)
    );
  }

  > :is(:first-child:not(.hidden)) {
    @apply mt-0;
  }

  > :is(:last-child:not(.hidden)) {
    @apply mb-0;
  }

  a:not(:where([class*="btn"])) {
    @apply underline decoration-auto underline-offset-2 outline-none hover:text-[var(--tw-prose-links-hover-color)] focus-visible:text-[var(--tw-prose-links-hover-color)] focus-visible:ring-2 focus-visible:ring-gray-400;
  }

  figure {
    @apply me-0 ms-0;
  }

  blockquote {
    font-synthesis: none;
    font-variation-settings: 'ital' 1.75;
  }

  mark.highlight,
  .highlight {
    background-color: var(--highlight-bg-override, theme('colors.amber.100'));
  }

  @content;
}
