/**
 * @file
 * BEM block for Navigation.
 */

/* In page table of contents */
.navigation--in-page {
  @extend %has-margin-top-base;
  > h5 {
    margin-bottom: $spacing-base;
  }
  > ol {
    counter-reset: ordered-list;
    line-height: $line-height-base;
    > li {
      display: block;
      margin: -3px 0 0 0;
      padding: 0 0 10px 0;
      max-height: 100px;
      overflow: hidden;
      position: relative;
      &.active {
        ~ li {
          &:before {
            background: $brand-gray-light;
          }
          a {
            &:before {
              background: $brand-gray-light;
            }
            &:after {
              background: $brand-gray-light;
            }
          }
        }
        a {
          color: $brand-blue-gray;
          text-decoration: underline;
        }
      }
      &:before {
        background: $brand-blue-gray;
        content: '';
        display: block;
        height: 110%;
        left: 8px;
        position: absolute;
        speak: none;
        top: 9px;
        width: 2px;
      }
      &:last-child {
        &:before {
          display: none;
        }
      }
      > a {
        display: block;
        padding: 0 0 0 30px;
        font-weight: 600;
        line-height: 20px;
        &:focus {
          outline-offset: 0;
        }
        &:after {
          background: $brand-blue-gray;
          border-radius: 50%;
          content: '';
          display: inline-block;
          height: 14px;
          left: 2px;
          position: absolute;
          top: 2px;
          width: 14px;
        }
      }
    }
  }
}
