.block__title {font-family: var(--custom-font-alternate);font-size: 1.5rem;line-height: 2rem;font-weight: 600
}.block__title a {color: inherit
}.block__title a:hover {--tw-text-opacity: 1;color: rgb(14 165 233 / var(--tw-text-opacity))
}.block__title a:focus-visible {--tw-text-opacity: 1;color: rgb(14 165 233 / var(--tw-text-opacity))
}