.prose.prose dl {
  display: block;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  
  > dt {    
    flex: 1 0 30%;
      
    + dd {
      flex: 1 0 70%;
    }
    
    ~ dt {
      flex: 1 1 30%;
      margin-top: .5em;
      
      + dd {
        margin-top: .5em;
      }
    }
  }
}