.file__wrapper>a {font-size:1.125rem;line-height:1.75rem;font-weight:600
}.file__size {position:relative;font-size:0.875rem;line-height:1.25rem;--tw-text-opacity:1;color:rgb(82 82 82 / var(--tw-text-opacity));left:calc(24px + .5rem)
}