:root {
  --custom-font: theme(fontFamily.sans);
  --custom-font-alternate: theme(fontFamily.sans);
  --custom-display: theme(fontFamily.serif);
}

html,
body {
  @apply font-custom font-normal motion-safe:focus-within:scroll-smooth;

	font-variation-settings: 'slnt' 0;
}

i, em, .italic {
	font-variation-settings: 'ital' 1;
}