.display-1 {
  color: var(--display-color, theme('colors.zinc.800'));
  font-family: var(--display-font-family, theme('fontFamily.custom'));
  font-weight: var(--display-font-weight, theme('fontWeight.semibold'));

  @apply
    text-2xl
      lg:text-6xl
      xl:text-[140px]
    tracking-wide
    leading-tight
      lg:leading-snug;
}

.display-2 {
  color: var(--display-color, theme('colors.zinc.800'));
  font-family: var(--display-font-family, theme('fontFamily.custom'));
  font-weight: var(--display-font-weight, theme('fontWeight.semibold'));

  @apply
    text-xl
      lg:text-5xl
      xl:text-[110px]
    tracking-wide
    leading-tight
      lg:leading-snug;
}
