@import 'bootstrap/custom-bootstrap-variables';

.search--flyout.search--flyout {
  
  form {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr;
  }
  
  
  .form-item {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 10vh;
    grid-auto-flow: row;
    
    label {
      margin-right: $spacer;
    }
  }
}


.search--primary.search--primary  {
  display: block;
  padding: 0;
  border: none;
}