@svg-load toggleOff url( 'toggle-off.svg' ) {
  fill: rgb(20, 21, 20);
}

@svg-load toggleOn url( 'toggle-on.svg' ) {
  fill: rgb(20, 21, 20);
}

.admin-ui-toggle button {
  height: 39px;
  display: flex;
  align-items: center;
  
  &::after {
    content:'';
    width: 1em;
    height: 1em;
    margin-left: .5em;
    display: block;
    background-position: center, -1000em -1000em;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: svg-inline(toggleOff), svg-inline(toggleOn);
  }
}


.admin-ui-toggle.ui-is-hidden button::after {
  background-position: -1000em -1000em, center;
}

.admin-ui-hide .local-tasks {
  display: none;
}