@import 'bootstrap/custom-bootstrap-variables';

.local-tasks {
  
  .nav {
    margin-bottom: 0;
    font-size: 13px;
    font-family: $font-family-monospace;
    
    .nav-link {
      padding-left: .5rem;
      padding-right: .5rem;
      opacity: 0.6;
      
      &:hover, &.active {
        opacity: 1;
      }
    }
  }
}

/*.site.is-unpublished & {
    background: repeating-linear-gradient(45deg, rgba($warning,0.15), rgba($warning,0.15) 0.625rem, rgba($warning,0.1) 0.625rem, rgba($warning,0.1) 1.25rem);
    position: relative;
    
    &::after {
      content: 'Unpublished';
      color: mix($black, $warning, 40%);
      font-family: $font-family-monospace;
      position: absolute;
      top: 15px;
      right: 15px;
    }
  }*/