@use 'mixins/icon';

.alert:is([open]) {
    @apply p-0 bg-white shadow-lg z-[499] min-w-[700px] flex overflow-hidden rounded;

    ul, p {
        @apply p-3 font-mono flex-1 text-sm;
    }

    ul {
        @apply space-y-3;
    }

    &::backdrop {
        @apply bg-black;
    }

    p:has(script):has(style), p:empty {
        @apply hidden;
    }
}

.off-canvas .alert {
    @apply animate-alert;
}

.alert__icon {
    @apply p-2 text-3xl bg-green-400 text-white;

    &::before {
        content: "";
        @include icon.render(('close.svg', 'check.svg', 'error.svg', 'warning.svg', 'info.svg'), 'fill=white');
    }

    &-success {
        @apply bg-green-400;
        &::before { @include icon.pos(1, 2) }
    }

    &-error {
        @apply bg-red-400;
        &::before { @include icon.pos(2, 1) }
    }

    &-warning {
        @apply bg-yellow-300;
        &::before { @include icon.pos(3) }
    }

    &-info {
        @apply bg-blue-400;
        &::before { @include icon.pos(4) }
    }
}

.alert__close {
    @apply self-start flex items-center justify-center w-8 h-8;
    --icon-size: 100%;

    span {
        @apply pointer-events-none w-full h-full;

        &::before {
            content: "";
            @include icon.render(('close.svg'), 'fill=black');
        }
    }
}
