{% block content %}
<div class="control__menu" aria-hidden="true">
    <button type="button" class="toggle toggle--navigation js-toggle-navigation">
      <span class="icon--inline icon--menu">
        <span class="sr-only sr-only-focusable">Open main menu</span>
      </span>
      <span class="icon--inline icon--close">
        <span class="sr-only sr-only-focusable">Close main menu</span>
      </span>
    </button>
</div>
{% endblock %}