/**
 * @file
 * This theme includes exaggerated focus styles inspired by https://www.gov.uk/
 *
 * If your site doesn't require these accessibility features simply comment
 * out the only place where this partial is SASS @imported (scss/global.styles.scss).
 */

p {
  a {
    &:focus {
      outline-offset: 0;
    }
  }
}

a {
  &:focus {
    background-color: $brand-focused;
    outline: 3px solid $brand-focused;
    outline-offset: -3px;
  }
}

.breadcrumb {
  > li {
    > a {
      &:focus {
        color: $black;
        outline-offset: 0;
      }
    }
  }
}

.btn {
  &:focus {
    outline: 3px solid $brand-focused;
  }
}

.btn-default {
  > a {
    &:focus {
      background-color: transparent;
      @include tab-focus;
    }
  }
}

.logo--secondary {
  .logo__link {
    &:focus {
      outline-offset: 0;
      .logo__brand {
        fill: $black;
      }
    }
    &:hover {
      &:focus {
        .logo__brand {
          fill: $black;
        }
      }
    }
  }
}

.nav {
  > li {
    > a {
      &:focus {
        background-color: $brand-focused;
      }
    }
  }
}

.navigation--secondary {
  .menu__link {
    &:focus {
      background-color: $brand-focused;
      outline-offset: 0;
    }
  }
}

.navigation--quaternary {
  .nav {
    > li {
      > .menu__link {
        &:focus {
          background-color: $brand-focused;
          color: $black;
          outline-offset: 0;
        }
      }
    }
  }
}

.prose {
  @include respond-to(tablet-and-up) {
    a {
      &:focus {
        outline-offset: 0;
      }
    }
  }
}

.contextual-links-wrapper {
  a {
    &:focus {
      background-color: transparent;
      @include tab-focus;
    }
  }
}

a {
  &:focus {
    #admin-menu & {
      background-color: transparent;
      outline: none;
      outline-offset: 0;
    }
  }
}

.facetapi-facetapi-links,
.facetapi-date-range {
  > li {
    > a {
      &:focus {
        outline: none;
        outline-offset: 0;
      }
    }
  }
}

.form-type-radio,
.form-type-checkbox {
  &:focus {
    outline: 3px solid $brand-focused;
    outline-offset: -3px;
  }
}

.form-control,
.form-email,
.form-number {
  &:focus {
    border-color: transparent;
    @include box-shadow(0);
    outline: 3px solid $brand-focused;
    outline-offset: -3px;
  }
}

.slat__term {
  > a {
    &:focus {
      outline-offset: 0;
    }
  }
}

.slat__link {
  &:focus {
    background-color: transparent;
    outline-offset: 0;
  }
}

.transcript {
  > h3 {
    a {
      &:focus {
        outline-offset: 0;
      }
    }
  }
}

.promotion--menu {
  .menu__link {
    &:hover {
      &:focus {
        background-color: $brand-focused;
      }
    }
  }
}

.promotion--post-it {
  .menu__link {
    &:focus {
      background-color: $brand-focused;
      color: $black;
      outline-offset: 0;
    }
  }
}

.navigation--site-map {
  .menu {
    > .menu__item {
      > .menu__link {
        &:focus {
          outline-offset: 0;
        }
      }
    }
  }
}
