/**
 * @file
 * Custom tweaks to admin elements
 */
.alert {
  margin-top: $spacing-base;
  margin-bottom: 0;
  @include border-radius(0);
  .close {
    line-height: 0.8em;
  }
}

.tabs--primary {
  margin-top: $spacing-base;
  font-family: $font-family-monospace;
  font-weight: 700;
  @include font-smoothing;
  > li {
    > a {
      @include border-radius(0);
      color: $brand-warning;
      &:focus {
        color: $white;
        background-color: $brand-warning;
        outline: 3px solid $brand-warning;
      }
    }
    &.active {
      > a {
        background-color: $brand-warning;
        &:hover {
          background-color: $brand-warning;
        }
        &:focus {
          color: $white;
          background-color: $brand-warning;
          outline: 3px solid $brand-warning;
        }
      }
    }
  }
}

.block-title {
  @extend .h3;
}

.contextual-links {
  font-family: $font-family-monospace;
}

.page-header {
  border-bottom: none;
  @extend .h1;
}

/* Override Drupal date.css */
.container-inline-date {
  .date-padding {
    float: none;
  }
  > .form-item {
    display: block;
    margin-right: 0;
  }
  .form-item {
    .form-item {
      float: none;
    }
  }
}

// TO clean up (Tom)

// .contextual-links-wrapper {
//   a {
//     &:focus {
//       background-color: transparent;
//       @include tab-focus;
//     }
//   }
// }

// a {
//   &:focus {
//     #admin-menu & {
//       background-color: transparent;
//       outline: none;
//       outline-offset: 0;
//     }
//   }
// }

/*
 * unpublished node indicator, attached to full view mode of node
 * inside content region.
 */
// .node--view-mode-full {
//   .page-node-status-unpublished .content & {
//     background-color: transparent;
//     border-top: 40px solid $brand-warning;
//     padding-top: 20px;
//     position: relative;
//     margin-top:20px;
//     &:before {
//       position: absolute;
//       content: 'Unpublished';
//       font-family: $font-family-monospace;
//       top: -32px;
//       left: 10px;
//       color: $white;
//     }
//   }
//   .page-node-status-unpublished.admin-ui-hide .content & {
//     display: none;
//   }
// }
