/**
 * @file
 * Custom tweaks to admin elements
 */
.alert {
  margin-top: $spacing-base;
  margin-bottom: $spacing-base;
  border-radius:0;
  .close {
    line-height: 0.8em;
  }
}

.tabs--primary {
  margin-top: $spacing-base;
  margin-bottom: $spacing-base;
  font-weight: 700;
  .path-user & {
    margin-top: 0;
  }
  > li {
    margin-right: 5px;
    > a {
      color: $brand-danger;
      @extend .btn;
      padding: 6px 12px;
      &:focus {
        color: $white;
        background-color: $brand-danger;
        outline: 3px solid $brand-danger;
      }
    }
    &.active {
      > a {
        background-color: $brand-danger;
        &:hover {
          background-color: $brand-danger;
        }
        &:focus {
          color: $white;
          background-color: $brand-danger;
          outline: 3px solid $brand-danger;
        }
      }
    }
  }
}

.path-user {
  h4 {
    &.label {
      color: $brand-blue-gray;
      display: block;
      font-size: 100%;
      text-align: left;
      padding: 0;
    }
  }
}

.block-title {
  @extend %has-heading-alternate;
}

.contextual-links {
  font-family: $font-family-monospace;
}

.page-header {
  border-bottom: none;
  font-weight: 300;
  margin-top: $line-height-computed;
  margin-bottom: ($line-height-computed/2);
  padding-bottom: 0;
  font-size: $font-size-h2;
  .path-frontpage & {
    font-size: 45px;
    padding-bottom: 10px;
  }
  @include respond-to(tablet-and-up) {
    font-size: $font-size-h1;
  }
}

/* Override Drupal date.css */
.container-inline-date {
  .date-padding {
    float: none;
  }
  > .form-item {
    display: block;
    margin-right: 0;
  }
  .form-item {
    .form-item {
      float: none;
    }
  }
}

.captcha {
  [data-toggle="collapse"] {
    background-color: transparent;
    outline: none;
    outline-offset: 0;
    &:focus {
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.user-login-form,
.user-pass {
  margin: $spacing-half 0;
  @extend %box-it-up;
  @extend %has-margin-top-double;
  @include respond-to(tablet-and-up) {
    margin: $spacing-base 0;
  }
}

.user-login-form {
  @include respond-to(wide-and-up) {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    height: 100%;
  }
  > .form-item {
    @include respond-to(wide-and-up) {
      width: 40%;
      margin-right: 3%;
    }
  }
  > .form-actions {
    @include respond-to(wide-and-up) {
      width: 14%;
      margin-top: 31px;
    }
    .button {
      margin-right: 10px;
      padding: 12px 10px;
      font-size: 16px;
      margin-top: 0;
    }
  }
}

.toolbar-tray {
  a {
    &:visited {
      color: #565656;
    }
  }
}

.contextual {
  .slat__link & {
    display: none;
  }
}

/*
 * Unpublished node indicator, attached to full view mode of node
 * inside content region.
 */
.node--view-mode-full {
  .page-node-status-unpublished .content & {
    background-color: transparent;
    border-top: 40px solid $brand-danger;
    padding-top: 20px;
    position: relative;
    margin-top:20px;
    &:before {
      position: absolute;
      content: 'Unpublished';
      font-family: $font-family-monospace;
      top: -32px;
      left: 10px;
      color: $white;
    }
  }
  .page-node-status-unpublished.admin-ui-hide .content & {
    display: none;
  }
}
