/**
 * @file
 * OOCSS Helpers & BEM modifiers
 */

/* Useful within Display Suite for removing margin from headings. */
.has-no-margin-top,
%has-no-margin-top {
  margin-top: 0!important;
}

.has-no-margin-bottom,
%has-no-margin-bottom {
  margin-bottom: 0!important;
}

.has-no-margin,
%has-no-margin {
  margin: 0!important;
}

/**
 * https://github.com/twbs/bootstrap/pull/12679
 * Use in conjunction with .sr-only to only display content when it's focused.
 * Useful for "Skip to main content" links; see http://www.w3.org/TR/2013/NOTE-WCAG20-TECHS-20130905/G1
*/
.sr-only-focusable {
  &:active,
  &:focus {
    position: static;
    width: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    clip: auto;
  }
}

/* Bootstrap gutter killer */
.no-gutter {
  &[class*='col-'] {
    padding-right: 0;
    padding-left: 0;
  }
}

/**
  * See Bootstrap. http://getbootstrap.com/css/#type-lists. Repeated here
  * because it is a common 'helper'.
  * Remove the default list-style and left margin on list items
  * (immediate children only). This only applies to immediate children list
  * items, meaning you will need to add the class for any nested lists as well.
  */
/*.list-unstyled {}*/

/* Inline block helper */
.inline-block {
  display: inline-block;
}

/**
 * Responsive margin top OOCSS spacing helpers.
 * Ideally always using margin above your site building blocks for consistency.
 */
.has-margin-top-base,
%has-margin-top-base {
  margin-top: $spacing-half;
  @include respond-to(desktop-and-up) {
    margin-top: $spacing-base;
  }
}

.has-margin-top-and-half,
%has-margin-top-and-half {
  margin-top: $spacing-base;
  @include respond-to(desktop-and-up) {
    margin-top: $spacing-and-half;
  }
}

.has-margin-top-double,
%has-margin-top-double {
  margin-top: $spacing-base;
  @include respond-to(desktop-and-up) {
    margin-top: $spacing-double;
  }
}

.has-margin-top-triple,
%has-margin-top-triple {
  margin-top: $spacing-base;
  @include respond-to(tablet-and-up) {
    margin-top: $spacing-double;
  }
  @include respond-to(desktop-and-up) {
    margin-top: $spacing-base * 3;
  }
}

.has-margin-top-half,
%has-margin-top-half {
  margin-top: $spacing-half;
}

.has-margin-top-quarter,
%has-margin-top-quarter {
  margin-top: $spacing-quarter;
}

.has-margin-right-quarter,
%has-margin-right-quarter {
  margin-right: $spacing-quarter;
}

.has-margin-left-quarter,
%has-margin-left-quarter {
  margin-left: $spacing-quarter;
}

.has-margin-right-half,
%has-margin-right-half {
  margin-right: $spacing-half;
}

.has-margin-left-half,
%has-margin-left-half {
  margin-left: $spacing-half;
}

.has-margin-top-base-alternate,
%has-margin-top-base-alternate {
  margin-top: $spacing-half+($spacing-quarter);
  @include respond-to(desktop-and-up) {
    margin-top: $spacing-base;
  }
}

/**
 * Responsive padding top OOCSS spacing helpers.
 * If a border is required above your site building block then use padding instead.
 */
.has-padding-top-base,
%has-padding-top-base {
  padding-top: $spacing-half;
  @include respond-to(desktop-and-up) {
    padding-top: $spacing-base;
  }
}

.has-padding-top-and-half,
%has-padding-top-and-half {
  padding-top: $spacing-base;
  @include respond-to(desktop-and-up) {
    padding-top: $spacing-and-half;
  }
}

.has-padding-top-double,
%has-padding-top-double {
  padding-top: $spacing-base;
  @include respond-to(desktop-and-up) {
    padding-top: $spacing-double;
  }
}

.has-padding-top-triple,
%has-padding-top-triple {
  padding-top: $spacing-base;
  @include respond-to(tablet-and-up) {
    padding-top: $spacing-double;
  }
  @include respond-to(desktop-and-up) {
    padding-top: $spacing-base * 3;
  }
}

.has-padding-top-half,
%has-padding-top-half {
  padding-top: $spacing-half;
}

.has-border-top,
%has-border-top {
  border-top: 1px solid $brand-border;
}

.has-border-top-large,
%has-border-top-large {
  border-top: 1px solid $brand-border;
  @include respond-to(tablet-and-up) {
    border-top: 4px solid $brand-border;
  }
}

.has-border-top-largest,
%has-border-top-largest {
  border-top: 10px solid $brand-border;
}

.has-border-top-largest-dark,
%has-border-top-largest-dark {
  border-top: 10px solid $gray;
}

.has-border-top-alternate,
%has-border-top-alternate {
  position: relative;
  padding-top: 1px;
  &::before {
    position: absolute;
    top: -1px;
    left: 0;
    content: '';
    width: 40px;
    height: 1px;
    background-color: $black;
  }
}

.has-no-border-top,
%has-no-border-top {
  border-top: none;
}

.text-center-wide-and-up,
%text-center-wide-and-up {
  @include respond-to(wide-and-up) {
    text-align: center;
  }
}

/* Use to offset elements 'right' within main body area. */
.has-offset-right,
%has-offset-right {
  position: relative;
  @include respond-to(wide) {
    margin-right: -80px!important;
  }
  @include respond-to(mega-and-up) {
    margin-right: -120px!important;
  }
}

/* Use to offset elements 'left' within main body area. */
.has-offset-left,
%has-offset-left {
  position: relative;
  @include respond-to(wide) {
    margin-left: -80px!important;
  }
  @include respond-to(mega-and-up) {
    margin-left: -120px!important;
  }
}

.has-heading-alternate,
%has-heading-alternate {
  font-size: $font-size-h4;
  color: $brand-bluer-gray;
  letter-spacing: 0.02em;
}

.link-down,
%link-down {
  position: relative;
  padding-left: 10px;
  &::before {
    content: '\2193';
    position: absolute;
    top: -3px;
    left: -1px;
  }
}

/* To handle long words and URLs */
.dont-break-out,
%dont-break-out {
  @include word-wrap;
}

%apply-external-link-icon {
  /* Add external link icon to links */
  a[href^="http://"],
  a[href^="https://"],
  a[rel*='external'] {
    &::after {
      content: '';
      background: svg-load('../images/icons/icon--external.svg', fill=#204ad4);
      background-repeat: no-repeat;
      background-position: 0 0;
      background-size: cover;
      height: 10px;
      width: 10px;
      margin-left: .25em;
      display: inline-block;
    }
  }

  /*
  * 1. Site domain as defined in _variables.scss. Let's not add an icon
  * if a link has been created using the sites full absolute domain.
  */
  a[href*='#{$site-domain}'] { /* [1] */
    &::after {
      content: '';
    }
  }
}

%pseudo-dl-term {
  font-weight: normal;
  @include text-overflow;
  margin-top: $spacing-half;
  @include respond-to(tablet-and-up) {
    float: left;
    clear: both;
    width: 25%;
    margin-right: 2%;
    margin-top: 0;
  }
}

%pseudo-dl-definition {
  clear: both;
  display: block;
  @include respond-to(tablet-and-up) {
    float: left;
    clear: none;
    width: 73%;
  }
}

.is-pseudo-dl-item,
%is-pseudo-dl-item {
  .field--label {
    @extend %pseudo-dl-term;
  }
  > .field--item,
  > .field__items {
    @extend %pseudo-dl-definition;
  }
}

/* Caption */
.caption,
%caption {
  font-size: 14px;
  position: relative;
  padding: 10px 0;
  @extend %apply-external-link-icon;
  &::after {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    content: '';
    width: 40px;
    height: 1px;
    background-color: $brand-blue-gray;
  }
  p {
    &:last-child {
      .prose & {
        margin: 0;
      }
    }
  }
  &:empty {
    display: none;
  }
}


%inverse {
  p,
  h1, .h1,
  h2, .h2,
  h3, .h3,
  h4, .h4,
  h5, .h5,
  h6, .h6,
  a,
  ul,
  ol {
    color: rgba($white,0.9);
  }
  a {
    text-decoration: underline;
    &:visited {
      color: rgba($white,0.9);
    }
    &[href^="http://"],
    &[href^="https://"],
    &[rel*='external'] {
      &::after {
        background: svg-load('../images/icons/icon--external.svg', fill=#FFFFFF);
      }
    }
  }
}

.indented {
  margin-left: $spacing-base;
}

.box-it-up,
%box-it-up {
  background-color: #eaecef;
  padding: $spacing-half;
  @include respond-to(tablet-and-up) {
    padding: $spacing-base;
  }
}

%switch {
  a {
    font-weight: 700;
    line-height: 1.1;
    display: block;
    margin-top: 13px;
    margin-bottom: 13px;
    &::after {
      content: '';
      position: absolute;
      background: svg-load('../images/icons/arrow--micro-down.svg', fill=#204ad4);
      background-repeat: no-repeat;
      background-position: 0 0;
      height: 6px;
      width: 11px;
      margin: 8px 0 0 6px;
    }
    &:hover {
      &::after {
        background: svg-load('../images/icons/arrow--micro-down.svg', fill=#003259);
      }
    }
    &[aria-expanded="true"] {
      &::after {
        background: svg-load('../images/icons/arrow--micro-up.svg', fill=#204ad4);
        margin: 7px 0 0 6px;
      }
      &:hover {
        &::after {
          background: svg-load('../images/icons/arrow--micro-up.svg', fill=#003259);
        }
      }
    }
  }
}

.media-center {
  text-align: center;
  background-color: $gray-lighter;
  img {
    display: inline;
  }
  > a {
    display: block;
  }
}
