$icons: (
    sprite: (width: 856px, height: 846px, svgPath: '../images/sprite.svg'),
   arrow--chevron-up-dark-grey: (width: 25px, height: 13px, backgroundX: 0px, backgroundY: 0px),
   arrow--medium-left-thin-blue: (width: 9px, height: 16px, backgroundX: -35px, backgroundY: -23px),
   arrow--medium-left-thin-dark-grey: (width: 9px, height: 16px, backgroundX: -54px, backgroundY: -49px),
   arrow--medium-right-thin-dark-grey: (width: 9px, height: 16px, backgroundX: -73px, backgroundY: -75px),
   arrow--micro-down-blue: (width: 11px, height: 6px, backgroundX: -92px, backgroundY: -101px),
   arrow--micro-down-dark-blue: (width: 11px, height: 6px, backgroundX: -113px, backgroundY: -117px),
   arrow--micro-down-white: (width: 11px, height: 6px, backgroundX: -134px, backgroundY: -133px),
   arrow--micro-up-blue: (width: 11px, height: 6px, backgroundX: -155px, backgroundY: -149px),
   arrow--micro-up-dark-blue: (width: 11px, height: 6px, backgroundX: -176px, backgroundY: -165px),
   arrow--micro-up-white: (width: 11px, height: 6px, backgroundX: -197px, backgroundY: -181px),
   arrow--mini-down-grey: (width: 11px, height: 6px, backgroundX: -218px, backgroundY: -197px),
   arrow--mini-left-blue: (width: 6px, height: 11px, backgroundX: -239px, backgroundY: -213px),
   arrow--mini-left-dark-blue: (width: 6px, height: 11px, backgroundX: -255px, backgroundY: -234px),
   arrow--mini-right-grey: (width: 6px, height: 11px, backgroundX: -271px, backgroundY: -255px),
   arrow--mini-right-white: (width: 6px, height: 11px, backgroundX: -287px, backgroundY: -276px),
   icon--close-dark-grey: (width: 20px, height: 20px, backgroundX: -303px, backgroundY: -297px),
   icon--close-small-blue: (width: 12px, height: 12px, backgroundX: -333px, backgroundY: -327px),
   icon--close-white: (width: 20px, height: 20px, backgroundX: -355px, backgroundY: -349px),
   icon--envelope-dark-grey: (width: 16px, height: 16px, backgroundX: -385px, backgroundY: -379px),
   icon--envelope-white: (width: 16px, height: 16px, backgroundX: -411px, backgroundY: -405px),
   icon--external-blue: (width: 8px, height: 8px, backgroundX: -437px, backgroundY: -431px),
   icon--external-dark-grey: (width: 8px, height: 8px, backgroundX: -455px, backgroundY: -449px),
   icon--external-white: (width: 8px, height: 8px, backgroundX: -473px, backgroundY: -467px),
   icon--facebook-dark-grey: (width: 16px, height: 16px, backgroundX: -491px, backgroundY: -485px),
   icon--facebook-white: (width: 16px, height: 16px, backgroundX: -517px, backgroundY: -511px),
   icon--filter-grey: (width: 14px, height: 14px, backgroundX: -543px, backgroundY: -537px),
   icon--info-blue: (width: 12px, height: 12px, backgroundX: -567px, backgroundY: -561px),
   icon--info-white: (width: 12px, height: 12px, backgroundX: -589px, backgroundY: -583px),
   icon--linkedin-dark-grey: (width: 16px, height: 16px, backgroundX: -611px, backgroundY: -605px),
   icon--linkedin-white: (width: 16px, height: 16px, backgroundX: -637px, backgroundY: -631px),
   icon--menu-dark-grey: (width: 20px, height: 18px, backgroundX: -663px, backgroundY: -657px),
   icon--menu-white: (width: 20px, height: 18px, backgroundX: -693px, backgroundY: -685px),
   icon--paper-clip: (width: 15px, height: 15px, backgroundX: -723px, backgroundY: -713px),
   icon--search-dark-grey: (width: 18px, height: 18px, backgroundX: -748px, backgroundY: -738px),
   icon--search-white: (width: 18px, height: 18px, backgroundX: -776px, backgroundY: -766px),
   icon--twitter-dark-grey: (width: 16px, height: 16px, backgroundX: -804px, backgroundY: -794px),
   icon--twitter-white: (width: 16px, height: 16px, backgroundX: -830px, backgroundY: -820px),
);
