$icons: (
  sprite: (
    width: 781px,
    height: 759px,
    svgPath: '../images/sprite.svg'
  ),
  arrow--chevron-up-dark-grey: (
    width: 25px,
    height: 13px,
    backgroundX: 0px,
    backgroundY: 0px
  ),
  arrow--medium-left-thin-dark-grey: (
    width: 9px,
    height: 16px,
    backgroundX: -35px,
    backgroundY: -23px
  ),
  arrow--medium-right-thin-dark-grey: (
    width: 9px,
    height: 16px,
    backgroundX: -54px,
    backgroundY: -49px
  ),
  arrow--micro-down-blue: (
    width: 11px,
    height: 6px,
    backgroundX: -73px,
    backgroundY: -75px
  ),
  arrow--micro-down-dark-blue: (
    width: 11px,
    height: 6px,
    backgroundX: -94px,
    backgroundY: -91px
  ),
  arrow--micro-down-white: (
    width: 11px,
    height: 6px,
    backgroundX: -115px,
    backgroundY: -107px
  ),
  arrow--micro-up-blue: (
    width: 11px,
    height: 6px,
    backgroundX: -136px,
    backgroundY: -123px
  ),
  arrow--micro-up-dark-blue: (
    width: 11px,
    height: 6px,
    backgroundX: -157px,
    backgroundY: -139px
  ),
  arrow--micro-up-white: (
    width: 11px,
    height: 6px,
    backgroundX: -178px,
    backgroundY: -155px
  ),
  arrow--mini-down-grey: (
    width: 11px,
    height: 6px,
    backgroundX: -199px,
    backgroundY: -171px
  ),
  arrow--mini-left-blue: (
    width: 6px,
    height: 11px,
    backgroundX: -220px,
    backgroundY: -187px
  ),
  arrow--mini-left-dark-blue: (
    width: 6px,
    height: 11px,
    backgroundX: -236px,
    backgroundY: -208px
  ),
  arrow--mini-right-grey: (
    width: 6px,
    height: 11px,
    backgroundX: -252px,
    backgroundY: -229px
  ),
  icon--close-dark-grey: (
    width: 20px,
    height: 20px,
    backgroundX: -268px,
    backgroundY: -250px
  ),
  icon--close-small-blue: (
    width: 12px,
    height: 12px,
    backgroundX: -298px,
    backgroundY: -280px
  ),
  icon--close-small-red: (
    width: 12px,
    height: 12px,
    backgroundX: -320px,
    backgroundY: -302px
  ),
  icon--close-white: (
    width: 20px,
    height: 20px,
    backgroundX: -342px,
    backgroundY: -324px
  ),
  icon--envelope-dark-grey: (
    width: 16px,
    height: 16px,
    backgroundX: -372px,
    backgroundY: -354px
  ),
  icon--envelope-white: (
    width: 16px,
    height: 16px,
    backgroundX: -398px,
    backgroundY: -380px
  ),
  icon--external-blue: (
    width: 8px,
    height: 8px,
    backgroundX: -424px,
    backgroundY: -406px
  ),
  icon--external-white: (
    width: 8px,
    height: 8px,
    backgroundX: -442px,
    backgroundY: -424px
  ),
  icon--facebook-dark-grey: (
    width: 16px,
    height: 16px,
    backgroundX: -460px,
    backgroundY: -442px
  ),
  icon--facebook-white: (
    width: 16px,
    height: 16px,
    backgroundX: -486px,
    backgroundY: -468px
  ),
  icon--filter-grey: (
    width: 14px,
    height: 14px,
    backgroundX: -512px,
    backgroundY: -494px
  ),
  icon--linkedin-dark-grey: (
    width: 16px,
    height: 16px,
    backgroundX: -536px,
    backgroundY: -518px
  ),
  icon--linkedin-white: (
    width: 16px,
    height: 16px,
    backgroundX: -562px,
    backgroundY: -544px
  ),
  icon--menu-dark-grey: (
    width: 20px,
    height: 18px,
    backgroundX: -588px,
    backgroundY: -570px
  ),
  icon--menu-white: (
    width: 20px,
    height: 18px,
    backgroundX: -618px,
    backgroundY: -598px
  ),
  icon--paper-clip: (
    width: 15px,
    height: 15px,
    backgroundX: -648px,
    backgroundY: -626px
  ),
  icon--search-dark-grey: (
    width: 18px,
    height: 18px,
    backgroundX: -673px,
    backgroundY: -651px
  ),
  icon--search-white: (
    width: 18px,
    height: 18px,
    backgroundX: -701px,
    backgroundY: -679px
  ),
  icon--twitter-dark-grey: (
    width: 16px,
    height: 16px,
    backgroundX: -729px,
    backgroundY: -707px
  ),
  icon--twitter-white: (
    width: 16px,
    height: 16px,
    backgroundX: -755px,
    backgroundY: -733px
  ),
);
