$icons: (
    sprite: (width: 893px, height: 986px, svgPath: '../images/sprite.svg'),
   arrow--large-left-blue: (width: 24px, height: 40px, backgroundX: 0px, backgroundY: 0px),
   arrow--large-left-dark-blue: (width: 24px, height: 40px, backgroundX: -34px, backgroundY: -50px),
   arrow--large-left-light-grey: (width: 24px, height: 40px, backgroundX: -68px, backgroundY: -100px),
   arrow--large-right-blue: (width: 24px, height: 40px, backgroundX: -102px, backgroundY: -150px),
   arrow--large-right-dark-blue: (width: 24px, height: 40px, backgroundX: -136px, backgroundY: -200px),
   arrow--large-right-light-grey: (width: 24px, height: 40px, backgroundX: -170px, backgroundY: -250px),
   arrow--medium-left-thin-blue: (width: 9px, height: 16px, backgroundX: -204px, backgroundY: -300px),
   arrow--medium-right-thin-blue: (width: 9px, height: 16px, backgroundX: -223px, backgroundY: -326px),
   arrow--micro-down-blue: (width: 11px, height: 6px, backgroundX: -242px, backgroundY: -352px),
   arrow--micro-down-dark-blue: (width: 11px, height: 6px, backgroundX: -263px, backgroundY: -368px),
   arrow--micro-down-white: (width: 11px, height: 6px, backgroundX: -284px, backgroundY: -384px),
   arrow--micro-up-blue: (width: 11px, height: 6px, backgroundX: -305px, backgroundY: -400px),
   arrow--micro-up-dark-blue: (width: 11px, height: 6px, backgroundX: -326px, backgroundY: -416px),
   arrow--micro-up-white: (width: 11px, height: 6px, backgroundX: -347px, backgroundY: -432px),
   arrow--mini-down-grey: (width: 11px, height: 6px, backgroundX: -368px, backgroundY: -448px),
   arrow--mini-left-blue: (width: 6px, height: 11px, backgroundX: -389px, backgroundY: -464px),
   arrow--mini-left-dark-blue: (width: 6px, height: 11px, backgroundX: -405px, backgroundY: -485px),
   arrow--mini-right-grey: (width: 6px, height: 11px, backgroundX: -421px, backgroundY: -506px),
   arrow--mini-right-white: (width: 6px, height: 11px, backgroundX: -437px, backgroundY: -527px),
   icon--close-small-blue: (width: 12px, height: 12px, backgroundX: -453px, backgroundY: -548px),
   icon--close-white: (width: 20px, height: 20px, backgroundX: -475px, backgroundY: -570px),
   icon--envelope-dark-grey: (width: 16px, height: 16px, backgroundX: -505px, backgroundY: -600px),
   icon--envelope-white: (width: 16px, height: 16px, backgroundX: -531px, backgroundY: -626px),
   icon--external-blue: (width: 8px, height: 8px, backgroundX: -557px, backgroundY: -652px),
   icon--external-dark-grey: (width: 8px, height: 8px, backgroundX: -575px, backgroundY: -670px),
   icon--external-white: (width: 8px, height: 8px, backgroundX: -593px, backgroundY: -688px),
   icon--facebook-dark-grey: (width: 16px, height: 16px, backgroundX: -611px, backgroundY: -706px),
   icon--facebook-white: (width: 16px, height: 16px, backgroundX: -637px, backgroundY: -732px),
   icon--filter-grey: (width: 14px, height: 14px, backgroundX: -663px, backgroundY: -758px),
   icon--info-blue: (width: 12px, height: 12px, backgroundX: -687px, backgroundY: -782px),
   icon--info-white: (width: 12px, height: 12px, backgroundX: -709px, backgroundY: -804px),
   icon--linkedin-dark-grey: (width: 16px, height: 16px, backgroundX: -731px, backgroundY: -826px),
   icon--linkedin-white: (width: 16px, height: 16px, backgroundX: -757px, backgroundY: -852px),
   icon--menu-white: (width: 20px, height: 18px, backgroundX: -783px, backgroundY: -878px),
   icon--search-white: (width: 18px, height: 18px, backgroundX: -813px, backgroundY: -906px),
   icon--twitter-dark-grey: (width: 16px, height: 16px, backgroundX: -841px, backgroundY: -934px),
   icon--twitter-white: (width: 16px, height: 16px, backgroundX: -867px, backgroundY: -960px),
);
