{#
/**
 * @file
 * Default theme implementation for a link to a file.
 *
 * Available variables:
 * - attributes: The HTML attributes for the containing element.
 * - link: A link to the file.
 * - file_size: The size of the file.
 *
 * @see template_preprocess_file_link()
 *
 * @ingroup themeable
 */
#}
{%
    set classes = [
        'flex', 'items-center', 'gap-x-2'
    ]|merge(utility_classes ? utility_classes : [])
%}
<span{{ attributes.addClass(classes) }}>
<span class="material-symbols-sharp">
download_for_offline
</span>{{ link }}</span>
{% if file_size %}
  <span>({{ file_size }})</span>
{% endif %}
{% if libraries %}
  {% for library in libraries %}
    {{ attach_library(library) }}
  {% endfor %}
{% endif %}
