@import 'bootstrap/custom-bootstrap-variables';
@import 'bootstrap/scss/mixins/breakpoints';
@import 'bootstrap/scss/mixins/grid';

@svg-load indicator url( 'chevron-down.svg' ) {
  fill: rgb(20, 21, 20);
}




.js-mega-menu-source {
 
 
  @media (min-width: 835px) and (orientation: landscape) {
    .menu__item.is-expanded > .menu__link {
      display: flex;
      align-items: center;
      
      &::after {
        content: '';
        width: .75em;
        height: .75em;
        margin-left: .25em;
        display: block;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        background-image: svg-inline(indicator);
      }
    }
    
    .menu__link.has-opened-mega-menu::after {
      transform: rotate(180deg);
    }
  }
  
}