/**
 * @file
 * BEM block for Action.
 */
.action--back-to-top {
  position: relative;
  padding: 30px 10px 6px 10px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease-out;
  @extend .pull-right;
  color: $text-color;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
  background: svg-load('../images/icons/arrow--chevron-up.svg', fill=#252526);
  background-repeat: no-repeat;
  background-position: 35px 6px;
  &:hover,
  &:focus {
    color: $text-color;
    text-decoration: none;
    background-position: 35px 1px;
  }
  .you-are-going-down & {
    visibility: visible;
    opacity: 1;
  }
}

.action--more,
%action--more {
  color: $brand-primary;
  position: relative;
  font-weight: 700;
  font-size: 15px;
  &:before {
    content: '';
    width: 70%;
    height: 1px;
    position: absolute;
    bottom: -3px;
    left: 0;
    background-color: #4f89e1;
    transition: width 0.175s ease-in;
  }
  &:hover,
  &:focus {
    text-decoration: none;
    &:before {
      width: 100%;
    }
  }
  &:visited {
    color: $brand-visited;
    &:before {
      background-color: $brand-visited;
    }
  }
}

.action--back {
  padding-left: 10px;
  &:before {
    content: '';
    position: absolute;
    top: 8px;
    left: 0;
    background: svg-load('../images/icons/arrow--mini-left.svg', fill=#204ad4);
    background-repeat: no-repeat;
    background-position: 0 0;
    height: 11px;
    width: 6px;
  }
  &:hover,
  &:focus {
    &:before {
      background: svg-load('../images/icons/arrow--mini-left.svg', fill=#0042a3);
    }
  }
  &:focus {
    outline-offset: 0;
  }
  &:hover {
    color: $link-color;
  }
  &:visited {
    color: $link-color;
    &:hover {
      color: $link-hover-color;
    }
  }
}

.action--close {
  @extend .text-hide;
  &:before {
    content: '';
    position: absolute;
    background: svg-load('../images/icons/icon--close-small.svg', fill=#204ad4);
    background-repeat: no-repeat;
    background-position: 0 0;
    height: 12px;
    width: 12px;
    top: 0;
    left: 0;
  }
  &:focus {
    outline-offset: 0;
  }
}
