/**
 * @file
 * BEM block for Action.
 */
.action--back-to-top {
  position: relative;
  padding: 30px 10px 6px 10px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease-out;
  @extend .pull-right;
  color: $text-color;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
  &:before {
    content: '';
    position: absolute;
    top: 6px;
    left: 35px;
    font-size: 18px;
    @include sprite(arrow--chevron-up-dark-grey);
    transition: all 0.175s ease-in;
  }
  &:hover,
  &:focus {
    color: $text-color;
    text-decoration: none;
    &:before {
      margin-top: -5px;
    }
  }
  .you-are-going-down & {
    visibility: visible;
    opacity: 1;
  }
}

.action--more,
%action--more {
  color: $brand-primary;
  position: relative;
  font-weight: 700;
  font-size: 15px;
  &:before {
    content: '';
    width: 70%;
    height: 1px;
    position: absolute;
    bottom: -3px;
    left: 0;
    background-color: #4f89e1;
    transition: width 0.175s ease-in;
  }
  &:hover,
  &:focus {
    text-decoration: none;
    &:before {
      width: 100%;
    }
  }
  &:visited {
    color: $brand-visited;
    &:before {
      background-color: $brand-visited;
    }
  }
}

.action--back {
  padding-left: 10px;
  &:before {
    content: '';
    position: absolute;
    top: 8px;
    left: 0;
    font-size: 16px;
    @include sprite(arrow--mini-left-blue);
  }
  &:hover,
  &:focus {
    &:before {
      @include sprite(arrow--mini-left-dark-blue);
    }
  }
  &:focus {
    outline-offset: 0;
  }
  &:hover {
    color: $link-color;
  }
  &:visited {
    color: $link-color;
    &:hover {
      color: $link-hover-color;
    }
  }
}

.action--close {
  @extend .text-hide;
  &:before {
    content: '';
    position: absolute;
    font-size: 27px;
    @include sprite(icon--close-small-blue);
    top: 0;
    left: 0;
  }
  &:focus {
    outline-offset: 0;
  }
}
