/**
 * @file
 * Override Bootstrap breadcrumb styles
 */
.breadcrumb {
  font-size: 16px;
  background-color: transparent;
  padding: 0;
  margin: 0;
  border-radius:0;
  > li {
    color: #BBBBBB;
    position: relative;
    padding: 0 $spacing-base 0 0;
    margin: 0 $spacing-half 0 0;
    @include font-smoothing;
    font-weight: 600;
    &:after {
      content: '';
      position: absolute;
      top: 6px;
      right: -2px;
      @include sprite(arrow--mini-right-grey);
    }
    > a {
      text-decoration: underline;
      &:hover,
      &:focus {
        text-decoration: underline;
      }
      &:focus {
        color: $black;
        outline-offset: 0;
      }
    }
    + li {
      &:before {
        display: none;
      }
    }
    &:last-child {
      &:after {
        display: none;
      }
    }
  }
  > .active {
    color: $gray-light;
  }
}
