/**
 * @file
 * Override Bootstrap breadcrumb styles
 */
.breadcrumb {
  font-size: 13px;
  background-color: transparent;
  padding: 0;
  margin: 0;
  border-radius:0;
  > li {
    color: #BBBBBB;
    position: relative;
    padding: 0 $spacing-base 0 0;
    margin: 0 $spacing-half 0 0;
    &::after {
      content: '/';
      position: absolute;
      top: 1px;
      right: 0px;
    }
    > a {
      color: $text-color;
      text-decoration: underline;
      &:hover,
      &:focus {
        color: $text-color;
        text-decoration: underline;
      }
      &:focus {
        color: $black;
        outline-offset: 0;
      }
    }
    + li {
      &::before {
        display: none;
      }
    }
    &:last-child {
      &::after {
        display: none;
      }
    }
  }
  > .active {
    color: $gray-light;
  }
}
