/**
 * @file
 * Override Bootstrap button styles
 */

.btn {
  font-size: 16px;
  text-decoration: none;
  font-weight: 700;
  &:focus {
    outline: 3px solid $brand-focused;
  }
  &.active,
  &:active {
    box-shadow: none;
  }
}
.btn-default {
  > a {
    &:focus {
      background-color: transparent;
      @include tab-focus;
    }
  }
}
.btn-sm {
  font-size: 14px;
}
.btn-lg {
  font-size: 24px;
}
.btn-primary {
  &:visited {
    color: $white;
  }
}
.btn-expand {
  display: flex;
  align-content: center;
  -ms-flex-line-pack: center;
  color: $white;
  height: 58px;
  width: 58px;
  padding: 0;
  border-left: 1px solid $black;
  text-indent: -5000px;
  &:after {
    content: '';
    position: absolute;
    top: 24px;
    left: 24px;
    background: svg-load('../images/icons/arrow--micro-down.svg', fill=#FFFFFF);
    background-repeat: no-repeat;
    background-position: 0 0;
    height: 6px;
    width: 11px;
  }
}
