/**
 * @file
 * Override Bootstrap button styles
 */
.btn {
  font-size: 16px;
  text-decoration: none;
  @include border-radius(0);
  white-space: normal;
  @include font-smoothing;
  &:focus {
    outline: 3px solid $brand-focused;
  }
}
.btn-default {
  > a {
    &:focus {
      background-color: transparent;
      @include tab-focus;
    }
  }
}
.btn-sm {
  font-size: 14px;
}
.btn-lg {
  font-size: 24px;
}
.btn-primary {
  &:visited {
    color: $white;
  }
}
