/**
 * @file
 * Override Bootstrap button styles
 */
.btn {
  font-size: 16px;
  text-decoration: none;
  @include border-radius(0);
  white-space: normal;
  @include font-smoothing;
  &:focus {
    outline: 3px solid $brand-focused;
  }
}
.btn-default {
  > a {
    &:focus {
      background-color: transparent;
      @include tab-focus;
    }
  }
}
.btn-sm {
  font-size: 14px;
}
.btn-lg {
  font-size: 24px;
}
.btn-primary {
  &:visited {
    color: $white;
  }
}
.btn-expand {
  align-content: center;
  color: $white;
  display: flex;
  height: 40px;
  padding: 0;
  position: absolute;
  -ms-flex-line-pack: center;
  text-indent: -5000px;
  top: 0;
  right: 0;
  width: 50px;
  @include respond-to(desktop-and-up) {
    display: none;
  }
  &:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(0deg);
    transform: translateX(-50%) translateY(-50%) rotate(0deg);
    transition: -webkit-transform .3s ease;
    transition: transform .3s ease;
    transition: transform .3s ease,-webkit-transform .3s ease;

    /* CSS White triangle */
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 6px 0 6px;
    border-color: #ffffff transparent transparent transparent;

  }
}
