/**
 * @file
 * BEM block for Call to action.
 */
.call-to-action {
  border: 1px solid $brand-border;
  margin-bottom: $line-height-base-prose-em;
  @extend %box-it-up;
  @include respond-to(tablet-and-up) {
    padding: $spacing-base;
    line-height: $line-height-base-prose;
  }
}

.call-to-action--alternate {
  border: 5px solid $brand-border;
  background-color: transparent;
  padding: $spacing-base;
  @include respond-to(tablet-and-up) {
    padding: $spacing-double;
  }
}

.call-to-action--success,
.call-to-action--primary {
  color: $white;
  p {
    color: $white;
  }
}

.call-to-action--success {
  background-color: $brand-success;
}

.call-to-action--primary {
  background-color: $brand-primary;
}

.call-to-action-left-line,
%call-to-action-left-line {
  font-size: 16px;
  border-left: 2px solid $brand-border;
  padding: 0 $spacing-half;
  margin-bottom: $line-height-prose-computed;
  @include respond-to(tablet-and-up) {
    margin-left: 40px;
    padding: 0 $spacing-base;
    line-height: $line-height-base-prose;
  }
  @include respond-to(wide-and-up) {
    margin-bottom: ($line-height-prose-computed*2);
  }
}
