/**
 * @file
 * Extend Drupal's comment class
 */
.comment-delete,
.comment-edit,
.comment-reply {
  @extend %has-margin-top-half;
  font-size: 16px;
  font-weight: 600;
}

.comment-form {
  .form-group {
    @extend %has-margin-top-base;
  }
}

.comment__link-to-anchor {
  display: none;
  font-size: 14px;
  &:before {
    content: '';
    vertical-align: bottom;
    font-size: 18px;
    @include sprite(icon--paper-clip);
  }
}

.comment {
  &:hover {
    .comment__link-to-anchor {
      display: inline-block;
    }
  }
}
