/**
 * @file
 * BEM block for Control.
 */

.control--responsive-menu {
  margin-top: -2px;
}

.control--fly-out-search {
  .toggle--search {
    &.active {
      .icon--search {
        display: none;
      }
      .icon--close {
        display: block;
      }
    }
  }
}
