/**
 * @file
 * BEM block for Embedded entity.
 *
 */

.embedded-entity {
  margin: $spacing-prose-half 0;
  @include respond-to(desktop-and-up) {
    margin: $spacing-prose-base 0;
  }
  &.align-left,
  &.align-right {
    @include respond-to(mobile) {
      width: 100%;
      float: none;
    }
    @include respond-to(tablet-and-up) {
      margin: 0;
    }
    > .media {
      @include respond-to(tablet-and-up) {
        max-width: 210px;
      }
      @include respond-to(tablet-large-and-up) {
        max-width: none;
      }
      img {
        width: 100%;
      }
    }
  }
  &.align-left {
    @include respond-to(tablet-large) {
      width: 45%;
    }
    @include respond-to(desktop) {
      width: 45%;
    }
    > .media {
      @include respond-to(tablet-and-up) {
        margin: 9px 30px $spacing-prose-base 0;
      }
    }
  }
  &.align-right {
    @extend %has-offset-right;
    @include respond-to(tablet-large) {
      width: 45%;
    }
    @include respond-to(desktop) {
      width: 45%;
    }
    > .media {
      @include respond-to(tablet-and-up) {
        margin: 9px 0 $spacing-prose-base 30px;
      }
    }
  }
}
