/**
 * @file
 * Style for Facets
 */
.facets-widget-links {
  > ul {
    @extend .list-unstyled;
  }
}

.facet-summary-item--clear {
  float: right;
  > a {
    color: $brand-primary;
    text-decoration: underline;
    font-size: 16px;
    border-radius: 0;
    margin-top: 6px;
    display: inline-block;
    &:hover,
    &:focus,
    &:active:focus {
      background-color: $white;
    }
    &:visited {
      color: $brand-primary;
      &:hover {
        color: $brand-primary;
      }
    }
  }
}

.facet-summary-item--facet {
  > a {
    font-size: 16px;
    display: block;
    position: relative;
    font-weight: 600;
    border: 1px solid $brand-primary;
    padding: 5px 33px 5px 10px;
    color: $brand-primary;
    background-color: $white;
    .action--deactivate-facet {
      &::before {
        content: '';
        position: absolute;
        background: svg-load('../images/icons/icon--close-small.svg', fill=#204ad4);
        background-repeat: no-repeat;
        background-position: 0 0;
        height: 12px;
        width: 12px;
        top: 11px;
        right: 10px;
      }
    }
    &:visited {
      color: $brand-primary;
      &:hover {
        color: $brand-primary;
      }
    }
  }
}

.facets-widget-checkbox {
  > .item-list__checkbox {
    @extend .list-unstyled;
    .facet-item {
      position: relative;
      margin-top: 11px;
      .facet-item {
        margin-top: 0;
      }
      .facets-checkbox {
        opacity: 0;
        position: absolute;
        + label {
          &::after {
            content: none;
          }
        }
        &:checked {
          + label {
            &::after {
              content: '';
            }
          }
        }
        &:focus {
          + label {
            &::before {
              outline: rgb(59, 153, 252) auto 5px;
            }
          }
        }
      }
      label {
        position: relative;
        display: inline-block;
        padding-left: 30px;
        &::before,
        &::after {
          position: absolute;
          content: "";
          display: inline-block;
        }
        &::before {
          height: 18px;
          width: 18px;
          border: 1px solid #bfc0c1;
          top: 2px;
          left: 0;
        }
        &::after {
          height: 7px;
          width: 11px;
          border-left: 2px solid;
          border-bottom: 2px solid;
          transform: rotate(-45deg);
          left: 4px;
          top: 6px;
        }
      }
    }
  }
  label {
    font-weight: 400;
    padding-left: 22px;
    margin-bottom: 0;
  }
  .facet-item__value,
  .facet-item__count {
    vertical-align: text-top;
    line-height: 1.2;
  }
}

.block-facets { // Nested checkboxes
  ul {
    ul {
      @extend .list-unstyled;
      li {
        margin-left: 20px;
      }
    }
  }
}

.facets-soft-limit-link {
  margin-bottom: 6px;
  display: block;
}
