/**
 * @file
 * Extend Drupal's field class
 */
.field--label {
  font-weight: 600;
}

.field--group-fieldset {
  margin-top: $spacing-half;
  @include respond-to(tablet-and-up) {
    margin-top: $spacing-base;
  }
}

/* Responsive images within the main content areas */
.field--name-body,
.field--name-field-page-banner {
  img {
    max-width: 100%;
    height: auto;
  }
}

.field--name-body,
.field--name-field-related-external-url {
  @extend %apply-external-link-icon;
}

.field--name-media-description,
.field--name-field-license {
  .view-mode-teaser & {
    @extend %has-margin-top-half;
    font-size: 14px;
    p {
      &:only-child {
        margin: 0;
      }
    }
  }
}

.field--name-field-related-internal-url,
.field--name-field-related-external-url,
.field--name-field-media-document,
.field--name-field-description {
  @include respond-to(tablet-and-up) {
    line-height: $line-height-base-prose;
  }
  a {
    text-decoration: underline;
    &:focus {
      outline-offset: 0;
    }
  }
}

.field--name-field-related-internal-url,
.field--name-field-related-external-url {
  .field--item {
    margin-bottom: 3px;
  }
}


.field--name-field-media-document {
  /* Reset padding on content div provided by media */
  .content {
    padding: 0;
  }
}

.field {
  &.inline-block {
    margin-right: .33em;
    .field--label {
      font-weight: normal;
    }
    > .field--label,
    > .field--item {
      display: inline-block;
      vertical-align: middle;
    }
  }
  &.field--label-above {
    @extend %has-margin-top-half;
    &:first-child {
      margin-top: 0;
    }
  }
}

.field--type-text-with-summary {
  .slat & {
    .lead {
      font-size: $font-size-base;
    }
  }
}

.field--name-field-last-updated {
  font-size: 16px;
  @extend %date;
  @include font-smoothing;
  * + & {
    margin-top: $spacing-base;
    @include respond-to(desktop-and-up){
      margin-top: $spacing-double;
    }
  }
  .field--label {
    font-weight: normal;
    display: inline-block;
    + .field--item {
      display: inline-block;
    }
  }
}

.field--name-field-contact-location {
  > .field--label {
    @extend .h3;
  }
  .location {
    @extend %has-border-top;
    @extend %has-padding-top-base;
    @extend %has-margin-top-base;
  }
  .gmap {
    @extend %has-margin-top-base;
  }
}

.field--name-field-title-prefix,
.field--name-field-first-name,
.field--name-field-last-name,
.field--name-field-title-postfix {
  &.inline-block {
    margin-right: 5px;
  }
}

.field-name-field-credit-or-caption {
  color: darken(#888888,10%);
  line-height: $line-height-base;
}

.field--name-field-version-statement {
  a {
    overflow-wrap: break-word;
    word-wrap: break-word;
  }
}

.field--name-custom-location-with-map-link {
  .link-down {
    .lt-ie9 & {
      display: none;
    }
  }
}
