/**
 * @file
 * Extend Drupal's field class
 */
.field--label {
  font-weight: 600;
}

.field--group-fieldset {
  margin-top: $spacing-half;
  @include respond-to(tablet-and-up) {
    margin-top: $spacing-base;
  }
}
