/**
 * @file
 * Extend Drupal's field class
 */
.field--label {
  font-weight: 600;
  .slat__term & {
    font-weight: 400;
  }
}

.field--label-inline {
  .field--label,
  .field--item,
  .field--items {
    display: inline-block;
  }
}

.field--group-fieldset {
  margin-top: $spacing-half;
  @include respond-to(tablet-and-up) {
    margin-top: $spacing-base;
  }
}

.field--type-link {
  @extend %apply-external-link-icon;
}

.field--name-field-media-file {
  display: block;
  @include respond-to(tablet-and-up) {
    display: inline-block;
    margin-right: 7px;
  }
}

.field--name-field-related-files {
  .page-node-type-resource & {
    .field--label {
      font-size: $font-size-h4;
    }
    > .field--items {
      margin: $spacing-half 0 $spacing-double;
      > .field--item {
        @extend %has-margin-top-base;
        &:first-child {
          margin-top: 0;
        }
      }
    }
  }
}
