/**
 * @file
 * Forms
 */

.input-group {
  .form-control {
    &:first-child {
      border-radius:0;
    }
  }
}

.form-group {
  margin-bottom: 0;
}

label {
  font-size: 15px;
}

.form-type-date,
.form-type-tel {
  &.form-inline {
    .control-label {
      margin-bottom: 5px;
    }
  }
}

.form-control {
  border-radius: 0;
  font-size: 16px;
  &:hover {
    border: 1px solid $gray;
  }
}

.select-wrapper {
  position: relative;
  &:after {
    position: absolute;
    bottom: 22px;
    right: 16px;
    content: '';
    display: block;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #3b3a3a;
    pointer-events: none;
  }
}

.select2-container {
  .select2-selection--single {
    height: 50px;
    .select2-selection__rendered {
      padding-right: 40px;
    }
  }
}

.select2-container--default {
  .select2-selection--single {
    .select2-selection__rendered {
      line-height: 50px;
    }
    .select2-selection__arrow {
      height: 50px;
      position: absolute;
      top: 0;
      right: 0;
      width: 40px;
    }
  }
}

select.input-sm {
  line-height: normal;
}

.form-select {
  background-color: transparent;
  background-color: $white;
  appearance: none;
  padding-right: 32px;
  border: 1px solid rgba($black,0.4);
}

.description {
  font-size: 80%;
  color: $gray;
}
/* Has alternate style radios and checkboxes which feature surrounding box
   with a background color to improve visual accessibility */
.has-alternate-radios-and-checkboxes,
%has-alternate-radios-and-checkboxes {
  .form-type-radio,
  .form-type-checkbox {
    padding: 0;
    background: $gray-lighter;
    border: 1px solid $gray-lighter;
    &:hover {
      border: 1px solid $gray;
    }
    &.is-checked {
      outline: 3px solid $brand-gray-light;
      outline-offset: -3px;
    }
    .description {
      background-color: $white;
      padding: 10px;
      margin-top: 0;
      margin-bottom: 0;
    }
  }
  .radio,
  .checkbox {
    label {
      position: relative;
      width: 100%;
      padding: 10px 10px 10px 44px;
    }
    &.form-item-webform-buttons {
      label {
        width: auto;
        padding: 10px;
      }
    }
  }
  .radio input[type="radio"],
  .radio-inline input[type="radio"],
  .checkbox input[type="checkbox"],
  .checkbox-inline input[type="checkbox"] {
    position: absolute;
    top: 0;
    left: 0;
    margin: 16px;
  }
  table {
    .form-type-radio,
    .form-type-checkbox {
      background: transparent;
      border: none;
      &.is-checked {
        outline: none;
      }
    }
    .radio,
    .checkbox {
      label {
        width: auto;
        padding: 0;
      }
    }
    .radio input[type="radio"],
    .radio-inline input[type="radio"],
    .checkbox input[type="checkbox"],
    .checkbox-inline input[type="checkbox"] {
      position: relative;
      top: auto;
      left: auto;
      margin: inherit;
    }
  }
}

.fieldset-legend {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 15px;
}

.form-type-range {
  .input-group-addon {
    padding: 0;
    font-size: inherit;
    line-height: inherit;
    color: inherit;
    text-align: left;
    background-color: transparent;
    border: none;
    border-radius: 0;
  }
}

[data-drupal-selector="edit-range"] {
  box-shadow: none;
}

.form-type-color {
  @include clearfix;
  > label {
    margin-right: 3px;
  }
  > label,
  input {
    float: left;
  }
}

[data-drupal-selector="edit-color"] {
  margin: 0;
}

.filter-wrapper {
  margin-top: $spacing-half;
}
