/**
 * @file
 * BEM block for icon.
 */

.icon--close {
  &:before {
    content: '';
    font-size: 16px;
    @include sprite('icon--close-white');
  }
}

.icon--menu {
  &:before {
    content: '';
    font-size: 16px;
    @include sprite('icon--menu-white');
  }
}

.icon--search {
  &:before {
    content: '';
    font-size: 17px;
    @include sprite('icon--search-white');
  }
}
