/**
 * @file
 * BEM block for icon.
 */

.icon--close {
  &:before {
    content: '';
    background: svg-load('../images/icons/icon--close.svg', fill=#313132);
    background-repeat: no-repeat;
    background-position: 0 0;
    height: 20px;
    width: 20px;
  }
}

.icon--menu {
  &:before {
    content: '';
    background: svg-load('../images/icons/icon--menu.svg');
    background-repeat: no-repeat;
    background-position: 0 0;
    height: 18px;
    width: 20px;
  }
}

.icon--search {
  &:before {
    content: '';
    background: svg-load('../images/icons/icon--search.svg');
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
    height: 20px;
    width: 20px;
  }
}

.icon--facebook,
%icon--facebook {
  &:before {
    content: '';
    background: svg-load('../images/icons/icon--facebook.svg');
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 16px;
    height: 16px;
  }
}

.icon--twitter,
%icon--twitter {
  &:before {
    content: '';
    background: svg-load('../images/icons/icon--twitter.svg');
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 16px;
    height: 16px;
  }
}

.icon--youtube,
%icon--youtube {
  &:before {
    content: '';
    background: svg-load('../images/icons/icon--youtube.svg');
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 17px;
    height: 11px;
  }
}

.icon--instagram,
%icon--instagram {
  &:before {
    content: '';
    background: svg-load('../images/icons/icon--instagram.svg');
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 16px;
    height: 16px;
  }
}

