/**
 * @file
 * BEM block for Custom list styles
 */

/* Note: This list style requires a nested <a> */
.list--has-arrows {
  > li {
    > a {
      position: relative;
      font-size: 18px;
      display: block;
      padding: 14px $spacing-base 14px 18px;
      border-top: 1px solid $brand-border;
      &:before {
        content: '';
        position: absolute;
        background: svg-load('../images/icons/arrow--mini-right.svg', fill=#999999);
        background-repeat: no-repeat;
        background-position: 0 0;
        height: 11px;
        width: 6px;
        top: 23px;
        left: 0;
      }
    }
  }
}

.list--basic-links {
  > li {
    position: relative;
    padding: 4px 0;
    > a {
      display: block;
      text-decoration: underline;
      &:focus {
        outline: none;
        outline-offset: 0;
      }
    }
  }
}

.list--fridge-magnets {
  > li {
    float: left;
    display: block;
    > a {
      @extend .btn;
      @extend .btn-default;
      text-align: left;
      border-radius: 0;
      font-weight: 400;
      float: left;
      display: block;
      margin: 0 8px 8px 0;
      @include respond-to(tablet-and-up) {
        padding: 10px 15px;
      }
    }
  }
}

.list--related-files {
  .field--label {
    font-size: $font-size-h4;
  }
  > .field--items {
    margin: $spacing-half 0 $spacing-double;
    > .field--item {
      @extend %has-margin-top-base;
      &:first-child {
        margin-top: 0;
      }
    }
  }
}

.list--a-z {
  .view-content {
    @include respond-to(desktop-and-up) {
      column-count: 3;
      column-gap: 50px;
    }
    > .list__group {
      width: 100%;
      margin-bottom: 10px;
      margin-top: 50px;
      display: inline-block;
      break-inside: avoid;
      @include respond-to(desktop-and-up) {
        margin-top: 100px;
      }
      > ul {
        > li {
          border-top: 1px solid $brand-border;
          > a {
            display: block;
            padding: 15px 0;
            line-height: 1.4;
          }
        }
      }
      > .list__group {
        > h3 {
          font-size: $font-size-h5;
          border-top: 1px solid $brand-border;
          padding-top: 15px;
          margin-top: 30px;
        }
      }
    }
  }
}
