/**
 * @file
 * BEM block for logo.
 */
.logo {
  svg {
    max-width: 100%;
    height: auto;
  }
}

.logo__link {
  display: block;
  line-height: 0;
}

.logo--primary {
  .header & {
    margin-left: 15px;
    height: 44px;
  }
  .logo__link {
    display: inline-block;
  }
  .logo__brand {
    transition: all 0.05s ease-in;
    .footer-regions-wrapper & {
      width: 200px;
    }
    path {
      .footer-regions-wrapper & {
        fill: $white!important;
      }
    }
  }
}
