/**
 * @file
 * BEM block for logo.
 */
.logo {
  svg {
    max-width: 100%;
    height: auto;
  }
}

.logo__link {
  display: block;
  line-height: 0;
}

.logo--primary {
  .logo__link {
    display: block;
    .footer-regions-wrapper & {
      color: $white;
    }
  }
  .logo__brand {
    fill: $white;
    @include single-transition(all, 0.05s, ease-in);
    @include respond-to(desktop) {
      .logo__item {
         fill: transparent;
      }
    }
  }
}

.logo--secondary {
  .logo__brand {
    fill: $gray-lighter;
  }
  .logo__link {
    display: block;
    width: 260px;
    height: 30px;
    color: $white;
    @include respond-to(wide-and-up) {
      float: right;
    }
    &:hover {
      .logo__brand {
        fill: $white;
      }
      &:focus {
        .logo__brand {
          fill: $black;
        }
      }
    }
    &:focus {
      outline-offset: 0;
      .logo__brand {
        fill: $black;
      }
    }
  }
}
