/**
 * @file
 * BEM block for mega-menu.
 *
 */
.mega-menu {
  margin: 0 $responsive-layout-gutter;
  padding: ($spacing-base*3) 0;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  height: 100%;
  a {
    color: $text-color;
    &.active {
      text-decoration: underline;
    }
    &:focus {
      outline-offset: 0;
      outline: none;
    }
  }
  > a {
    width: 30%;
    font-size: $font-size-h5;
    @include respond-to(wide-and-up) {
      font-size: $font-size-h4;
    }
    @include respond-to(mega-large-and-up) {
      font-size: $font-size-h3;
    }
    color: $text-color;
    font-weight: 700;
    line-height: 1.1;
    .nav & {
      padding-left: 0;
      padding-right: 0;
    }
    &:hover {
      .nav & {
        text-decoration: underline;
      }
    }
    &:hover,
    &:focus {
      .nav & {
        background-color: transparent;
      }
    }
  }
  > ul {
    width: 70%;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    height: 100%;
    > li {
      width: 41%;
      margin-right: 8%;
      border-top: 1px solid $brand-border;
      > a {
        padding: 10px 0;
        @include respond-to(mega-and-up) {
          padding: 15px;
        }
      }
    }
  }
}

.mega-menu-item {
  .nav & {
    display: none;
    &.mega-menu-is-open {
      display: flex;
    }
  }
}

.mega-menu-is-open {
  > ul {
    > li {
      > a {
        font-size: 15px;
        line-height: 1.3;
        font-weight: 600;
        @include respond-to(wide-and-up) {
          font-size: 16px;
        }
      }
      li {
        display: none;
        &:nth-child(-n+7) {
          display: list-item;
        }
        a {
          padding: $spacing-quarter 0;
          position: relative;
          font-size: 16px;
          color: $gray-lighter;
        }
      }
    }
  }

  ul {
    > li {
      > a {
        &:hover {
          text-decoration: underline;
        }
        &:hover,
        &:focus {
          background-color: transparent;
        }
      }
    }
  }
}
