/**
 * @file
 * BEM block for Meta.
 */

.meta {
  .field {
    @extend %is-pseudo-dl-item;
    @include respond-to(tablet-and-up) {
      @include clearfix;
    }
    &:first-child {
      .field--label {
        margin-top: 0;
      }
    }
  }
}

.meta__featured {
  .field {
    .field--label {
      @include respond-to(tablet-and-up) {
        width: auto;
        margin-right: inherit;
        margin-top: $spacing-half;
      }
    }
    &:first-child {
      .field--label {
        @include respond-to(tablet-and-up) {
          margin-top: 0;
        }
      }
    }
    > .field--item {
      @include respond-to(tablet-and-up) {
        width: auto;
        clear: both;
      }
    }
  }
  .link-down {
    font-size: 16px;
    text-decoration: underline;
    margin-left: 5px;
    white-space: nowrap;
  }
  /* Select adjacent sibling (.field) in order to add style to illustrate
  the visual separation between the content of meta__featured. */
  + .field {
    @extend %has-border-top;
    @extend %has-padding-top-base;
    @extend %has-margin-top-base;
  }
}
