/**
 * @file
 * BEM block for Navigation
 */

.navigation--primary {
  padding-top: 2px;
  @include make-xs-column(12);
  @include make-md-column(7);
  @include make-lg-column-offset(1);
  @include respond-to(tablet-large-and-down) {
    display: none;
    margin-top: $spacing-base;
    padding-left: 0;
    padding-right: 0;
  }
  &.navigation-is-open {
    @include respond-to(tablet-large-and-down) {
      display: block;
      margin-top: 15px;
    }
    > .menu {
      @include respond-to(tablet-large-and-down) {
        border-bottom: 1px solid #4e4e4e;
      }
    }
    > .menu {
      display: block;
      @include respond-to(desktop-and-up) {
        display: flex;
        align-items: center;
      }
      > .menu__item {
        > .menu__link {
          @include respond-to(desktop-and-up) {
            background-color: transparent;
            margin: 0;
          }
        }
        ~ .menu__item {
          @include respond-to(desktop-and-up) {
            margin-left: 0.5em;
          }
        }
      }
    }
  }
  > .menu {
    @include respond-to(desktop-and-up) {
      display: flex;
      align-items: center;
    }
    .menu {
      @include respond-to(desktop-and-up) {
        background-color: rgba($white,0.6);
        position: absolute;
        z-index: 10;
      }
      .menu {
        left: 100%;
        top: 0;
      }
    }
    > .menu__item {
      > .menu__link {
        background-color: transparent;
        margin: 0;
        @include respond-to(wide-large-and-up) {
          padding: 10px $spacing-base;
        }
        &:hover {
          background-color: transparent;
          color: rgba(255,255,255,0.8);
        }
      }
    }
  }
  .menu {
    padding: 0;
    .menu {
      display: none;
    }
  }
  .menu__item {
    .btn-expand {
      align-content: center;
      position: absolute;
      top: 0;
      right: 0;
      @include respond-to(desktop-and-up) {
        display: none;
      }
    }
    @include respond-to(tablet-large-and-down) {
      border-top: 1px solid $black;
      position: relative;
    }
    .menu__link {
      @include respond-to(tablet-large-and-down) {
        border-top: 1px solid #4e4e4e;
        position: relative;
        padding-left: 18px;
      }
    }
    &.is-expanded {
      .menu__link {
        @include respond-to(tablet-large-and-down) {
          padding-right: 60px;
        }
      }
    }
    @include respond-to(tablet-large-and-down) {
      .menu__item {
        .menu__link {
          padding-left: 47px;
        }
        .menu__item {
          .menu__link {
            padding-left: 67px;
          }
          .menu__item {
            .menu__link {
              padding-left: 87px;
            }
            .menu__item {
              .menu__link {
                padding-left: 107px;
              }
            }
          }
        }
      }
    }
    &.active-trail {
      .menu__link {
        @include respond-to(desktop-and-up) {
          text-decoration: underline;
        }
      }
    }
    &.is-open {
      > .menu {
        @include respond-to(tablet-large-and-down) {
          display: block;
        }
      }
      > .btn-expand {
        &:after {
          @include respond-to(tablet-large-and-down) {
            @include sprite(arrow--micro-up-white);
          }
        }
      }
    }
    .menu__link {
      background-color: transparent;
      border-right: 1px solid #222;
      border-bottom: 1px solid #222;
      color: $white;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      @include respond-to(desktop-and-up) {
        font-weight: 600;
        border-right: none;
        border-bottom: none;
      }
      &:hover,
      &:focus {
        background-color: transparent;
        color: rgba(255,255,255,0.8);
      }
      &.is-active {
        @include respond-to(tablet-large-and-down) {
          text-decoration: underline;
        }
        &:before {
          @include respond-to(tablet-large-and-down) {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 5px;
            height: 100%;
            background-color: #436FFC;
          }
        }
        &:hover,
        &:focus {
          @include respond-to(tablet-large-and-down) {
            background-color: transparent;
            color: $white;
            text-decoration: underline;
          }
        }
        &[href^="#"] {
          text-decoration: none;
          @include respond-to(tablet-large-and-down) {
            &:before {
              content:none;
            }
          }
        }
      }
    }
  }
}

.navigation--secondary {
  @include respond-to(tablet-large-and-down) {
    display: none;
  }
  > h2 {
    font-size: $font-size-h4;
    @extend %has-no-margin-top;
    ~ .menu {
      margin-top: $line-height-computed;
    }
  }
  > .menu {
    border-top: 1px solid rgba(0, 0, 0, 0.15);
    > .menu__item {
      float: none;
      &.is-expanded {
        .menu__link {
          background-color: transparent;
        }
      }
    }
  }
  .menu {
    ul {
      .menu__link {
        padding: $spacing-half $spacing-half $spacing-half $spacing-base;
        font-size: 14px;
      }
      ul {
        .menu__link {
          padding: $spacing-half $spacing-half $spacing-half $spacing-and-half;
        }
        ul {
          .menu__link {
            padding: $spacing-half $spacing-half $spacing-half $spacing-double;
          }
        }
      }
      .menu__item {
        &.collapsed {
          > .menu__link {
             background-position: right 15px;
          }
        }
        &.is-expanded {
          > .menu__link {
             background-position: right 16px;
          }
        }
      }
    }
  }
  .menu__item {
    &.collapsed {
      > .menu__link {
        position: relative;
        &:after {
          content: '';
          position: absolute;
          @include sprite(arrow--mini-right-grey);
          top: 42%;
          right: 1px;
        }
      }
    }
    &.is-expanded {
      > .menu__link {
        position: relative;
        &:after {
          content: '';
          position: absolute;
          @include sprite(arrow--mini-down-grey);
          top: 47%;
          right: 0;
        }
      }
    }
  }
  .menu__link {
    font-size: 16px;
    background-color: transparent;
    padding: $spacing-half 0;
    color: $text-color;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    @include font-smoothing;
    &:hover,
    &:focus {
      border-bottom: 1px solid rgba(0, 0, 0, 0.35);
    }
    &:hover,
    &:focus,
    &.is-active {
      text-decoration: none;
      background-color: transparent;
    }
    &.is-active {
      font-weight: 700;
      color: darken($text-color,10%);
      border-bottom: 1px solid rgba(0, 0, 0, 0.8);
    }
    &:focus {
      background-color: $brand-focused;
      outline-offset: 0;
    }
  }
}

.navigation--quaternary {
  @include make-xs-column(12);
  @include make-lg-column(8);
  margin-top: $spacing-half;
  .menu__item {
    @include respond-to(tablet-and-up) {
      float: left;
    }
  }
  .menu__link {
    color: $brand-gray-light;
    padding: $spacing-quarter 0;
    @include respond-to(tablet-and-up) {
      padding: em(3);
      margin: 0 $spacing-base 0 0;
    }
    &:hover,
    &:focus,
    &.active {
      text-decoration: underline;
      color: $white;
    }
    &.active {
      text-decoration: underline;
    }
    &:hover {
      background-color: transparent;
    }
    .footer-regions-wrapper & {
      color: $white;
    }
    &:focus {
      background-color: $brand-focused;
      color: $black;
      outline-offset: 0;
    }
  }
}

.navigation--site-map {
  .menu {
    > .menu__item {
      > .menu__link {
        font-size: $font-size-h3;
        margin-top: $spacing-base;
        border-bottom: 1px solid $gray-light;
        padding: $spacing-half $spacing-half $spacing-half 0;
        @include respond-to(tablet-and-up) {
          margin-top: $spacing-double;
        }
        &:hover,
        &:focus {
          background-color: transparent;
          text-decoration: underline;
        }
        &:focus {
          outline-offset: 0;
        }
      }
      > .menu {
        > .menu__item {
          > .menu__link {
            font-size: em(14);
            border-bottom: none;
            margin-top: $spacing-base;
          }
          > .menu {
            border-top: 1px solid $brand-border;
            > .menu__item {
              .menu__link {
                margin-top: 0;
                color: lighten($gray-dark, 20%);
              }
            }
          }
        }
      }
    }
  }
  > .menu {
    > .menu__item {
      > .menu {
        > .menu__item {
          > .menu {
            > .menu__item {
              @include respond-to(tablet-and-up) {
                width: (100%/3);
                &:nth-child(3n+1) {
                  clear: both;
                }
              }
              @include respond-to(desktop-and-up) {
                width: (100%/6);
                &:nth-child(3n+1) {
                  clear: none;
                }
                &:nth-child(6n+1) {
                  clear: both;
                }
              }
              .menu__link {
                margin-top: 0;
                color: lighten($gray-dark, 20%);
              }
              > .menu {
                border-top: none;
                > .menu__item {
                  &.is-expanded {
                    width: 100%;
                  }
                  .menu__item {
                    .menu__link {
                      padding: $spacing-quarter $spacing-half $spacing-quarter $spacing-base;
                    }
                  }
                  > .menu {
                    border-top: none;
                  }
                }
                .menu__link {
                  font-size: em(14);
                  margin-left: $spacing-half;
                  border-left: 1px solid $brand-border;
                  padding: $spacing-quarter $spacing-half;
                }
              }
            }
          }
        }
      }
    }
  }
  .menu__link {
    color: $gray-dark;
  }
}
