/**
 * @file
 * BEM block for Navigation
 */

/*
 * Placeholder selector to make the application of the flyout menu styles
 * modular and able to be applied to more than one menu
 */
%apply-flyout-menu-style {
  .menu__item {
    .btn-expand {
      @include respond-to(desktop-and-up) {
        display: none;
      }
    }
  }
  &.navigation-is-open {
    display: block;
    margin-top: 20px;
  }
  @include respond-to(tablet-large-and-down) {
    > .menu {
      border-bottom: 1px solid #4e4e4e;
    }
    > .menu {
      display: block;
    }
    .menu__item {
      border-top: 1px solid $black;
      position: relative;
      .btn-expand {
        align-content: center;
        position: absolute;
        top: 0;
        right: 0;
      }
      .menu__link {
        color: #fff;
        border-top: 1px solid #4e4e4e;
        position: relative;
        padding-left: 18px;
        padding: 15px;
        &[href^="http://"],
        &[href^="https://"],
        &[rel*='external'] {
          &:after {
            background: svg-load('../images/icons/icon--external.svg', fill=#FFFFFF);
          }
        }
      }
      &.is-expanded {
        .menu__link {
          padding-right: 60px;
        }
      }
      .menu__item {
        .menu__link {
          padding-left: 47px;
        }
        .menu__item {
          .menu__link {
            padding-left: 67px;
          }
          .menu__item {
            .menu__link {
              padding-left: 87px;
            }
            .menu__item {
              .menu__link {
                padding-left: 107px;
              }
            }
          }
        }
      }
      &.is-open {
        > .menu {
          display: block;
        }
        > .btn-expand {
          &:after {
            background: svg-load('../images/icons/arrow--micro-up.svg', fill=#FFFFFF);
          }
        }
      }
      .menu__link {
        &:hover,
        &:focus {
          background-color: transparent;
          color: rgba(255,255,255,0.8);
        }
        &.is-active {
          background-color: $black;
          &:before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 5px;
            height: 100%;
            background-color: #436FFC;
          }
        }
        &[href^="#"] {
          text-decoration: none;
          &:before {
            content: none;
          }
        }
      }
    }
  }
}

.navigation--primary {
  background-color: $gray-darker;
  @extend %apply-flyout-menu-style;
  @include respond-to(tablet-large-and-down) {
    padding-left: 0;
    padding-right: 0;
  }
  > .menu {
    @include respond-to(desktop-and-up) {
      display: flex;
      justify-content: center;
    }
    .menu {
      @include respond-to(desktop-and-up) {
        background-color: rgba($white,0.6);
        position: absolute;
        z-index: 10;
      }
      .menu {
        left: 100%;
        top: 0;
      }
    }
    > .menu__item {
      @include respond-to(desktop-and-up) {
        margin: 0 15px;
      }
      @include respond-to(wide-large-and-up) {
        margin: 0 $spacing-base;
      }
      > .menu__link {
        background-color: transparent;
        margin: 0;
        @include respond-to(desktop-and-up) {
          padding: 5px 0;
        }
        &:focus {
          outline-offset: 0;
        }
        &:hover {
          background-color: transparent;
          color: $white;
          @include respond-to(desktop-and-up) {
            color: rgba($brand-blue-gray,0.8);
          }
        }
      }
    }
  }
  .menu {
    padding: 0;
    .menu {
      display: none;
    }
  }
  .menu__item {
    &.active-trail {
      .menu__link {
        @include respond-to(desktop-and-up) {
          border-bottom: 1px solid $brand-blue-gray;
        }
      }
    }
    .menu__link {
      background-color: transparent;
      border-right: 1px solid $gray-darker;
      border-bottom: 1px solid $gray-darker;
      color: $white;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      @include respond-to(desktop-and-up) {
        border-right: none;
        border-bottom: none;
        color: $brand-blue-gray;
      }
      &:hover,
      &:focus {
        background-color: transparent;
        color: $white;
        @include respond-to(desktop-and-up) {
          color: rgba($brand-blue-gray,0.8);
        }
      }
    }
  }
}

.navigation--secondary {
  @include respond-to(tablet-large-and-down) {
    display: none;
  }
  > h2 {
    font-size: $font-size-h4;
    @extend %has-no-margin-top;
    ~ .menu {
      margin-top: $line-height-computed;
    }
  }
  > .menu {
    border-top: 1px solid rgba(0, 0, 0, 0.15);
    > .menu__item {
      float: none;
      &.is-expanded {
        .menu__link {
          background-color: transparent;
          &:focus {
            background-color: $brand-focused;
            outline-offset: 0;
          }
        }
      }
    }
  }
  .menu {
    ul {
      .menu__link {
        padding: $spacing-half $spacing-half $spacing-half $spacing-base;
        font-size: 14px;
      }
      ul {
        .menu__link {
          padding: $spacing-half $spacing-half $spacing-half $spacing-and-half;
        }
        ul {
          .menu__link {
            padding: $spacing-half $spacing-half $spacing-half $spacing-double;
          }
        }
      }
      .menu__item {
        &.collapsed {
          > .menu__link {
            background-position: right 15px;
          }
        }
        &.is-expanded {
          > .menu__link {
            background-position: right 16px;
          }
        }
      }
    }
  }
  .menu__item {
    &.is-collapsed {
      > .menu__link {
        position: relative;
        &:after {
          content: '';
          position: absolute;
          background: svg-load('../images/icons/arrow--mini-right.svg', fill=#999999);
          background-repeat: no-repeat;
          background-position: 0 0;
          height: 11px;
          width: 6px;
          top: 42%;
          right: 1px;
        }
      }
    }
    &.is-expanded {
      > .menu__link {
        position: relative;
        &:after {
          content: '';
          position: absolute;
          background: svg-load('../images/icons/arrow--mini-down.svg', fill=#999999);
          background-repeat: no-repeat;
          background-position: 0 0;
          height: 6px;
          width: 11px;
          top: 47%;
          right: 0;
        }
      }
    }
  }
  .menu__link {
    font-size: 16px;
    background-color: transparent;
    padding: $spacing-half 0;
    color: $text-color;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    &:hover,
    &:focus {
      border-bottom: 1px solid rgba(0, 0, 0, 0.35);
    }
    &:hover,
    &:focus,
    &.is-active {
      text-decoration: none;
      background-color: transparent;
    }
    &.is-active {
      font-weight: 700;
      color: darken($text-color,10%);
      border-bottom: 1px solid rgba(0, 0, 0, 0.8);
      &:focus {
        background-color: $brand-focused;
        outline-offset: 0;
      }
    }
    &:focus {
      background-color: $brand-focused;
      outline-offset: 0;
    }
  }
}

.navigation--quaternary {
  .menu__item {
    @include respond-to(tablet-and-up) {
      float: left;
    }
  }
  .menu__link {
    color: $brand-gray-light;
    padding: $spacing-quarter 0;
    @include respond-to(tablet-and-up) {
      padding: em(3);
      margin: 0 $spacing-base 0 0;
    }
    &:hover,
    &:focus,
    &.active {
      text-decoration: underline;
      color: $white;
    }
    &.active {
      text-decoration: underline;
    }
    &:hover {
      background-color: transparent;
    }
    .footer-regions-wrapper & {
      color: $white;
    }
    &:focus {
      background-color: $brand-focused;
      color: $black;
      outline-offset: 0;
      .footer-regions-wrapper & {
        color: $white;
      }
    }
  }
}

.navigation--site-map {
  .menu {
    > .menu__item {
      > .menu__link {
        font-size: $font-size-h3;
        margin-top: $spacing-base;
        border-bottom: 1px solid $gray-light;
        padding: $spacing-half $spacing-half $spacing-half 0;
        @include respond-to(tablet-and-up) {
          margin-top: $spacing-double;
        }
        &:hover,
        &:focus {
          background-color: transparent;
          text-decoration: underline;
        }
        &:focus {
          outline-offset: 0;
        }
      }
      > .menu {
        > .menu__item {
          > .menu__link {
            font-size: em(14);
            border-bottom: none;
            margin-top: $spacing-base;
          }
          > .menu {
            border-top: 1px solid $brand-border;
            > .menu__item {
              .menu__link {
                margin-top: 0;
                color: lighten($gray-dark, 20%);
              }
            }
          }
        }
      }
    }
  }
  > .menu {
    > .menu__item {
      @include apply-gutter;
      @include respond-to(desktop-and-up) {
        width: (100%/5);
        float: left;
        &:nth-child(5n+1) {
          clear: both;
        }
      }
      > .menu {
        > .menu__item {
          > .menu {
            > .menu__item {
              @include respond-to(tablet-and-up) {
                width: 100%;
              }
              .menu__link {
                margin-top: 0;
                color: lighten($gray-dark, 20%);
              }
              > .menu {
                border-top: none;
                > .menu__item {
                  &.is-expanded {
                    width: 100%;
                  }
                  .menu__item {
                    .menu__link {
                      padding: $spacing-quarter $spacing-half $spacing-quarter $spacing-base;
                    }
                  }
                  > .menu {
                    border-top: none;
                  }
                }
                .menu__link {
                  font-size: em(14);
                  margin-left: $spacing-half;
                  border-left: 1px solid $brand-border;
                  padding: $spacing-quarter $spacing-half;
                }
              }
            }
          }
        }
      }
    }
  }
  .menu__link {
    color: $gray-dark;
  }
}
