/**
 * @file
 * BEM block for Node.
 */

.node__date {
  @extend %date;
}

.node__subtitle {
  @extend .lead;
  margin-bottom: 0;
  .hero & {
    .path-frontpage & {
      color: $white;
      @include font-smoothing;
    }
  }
}

.node__term {
  font-size: $font-size-h4;
  color: $gray-light;
}
