/**
 * @file
 * Override Drupal / Bootstrap pagination
 */

/* Drupal default full pager */
.pagination {
  @extend %has-margin-top-double;
  > li {
    &.active {
      > a {
        color: $text-color;
        font-weight: 700;
        background-color: transparent;
        border-color: transparent;
        border-bottom: 1px solid $text-color;
        &:hover,
        &:focus {
          color: $text-color;
          font-weight: 700;
          background-color: transparent;
          border-color: transparent;
          border-bottom: 1px solid $text-color;
        }
      }
      > span {
        color: $text-color;
        font-weight: 700;
        background-color: transparent;
        border-color: transparent;
        border-bottom: 1px solid $text-color;
        padding: 9px 14px;
        &:hover,
        &:focus {
          color: $text-color;
          font-weight: 700;
          background-color: transparent;
          border-color: transparent;
          border-bottom: 1px solid $text-color;
        }
      }
    }
    > a {
      position: relative;
      border-radius: 0;
      border: none;
      background-repeat: no-repeat;
      background-color: transparent;
      padding: 10px 5px;
      color: $text-color;
      border-bottom: 1px solid $white;
      margin: 0 5px;
      font-size: 16px;
      &:hover,
      &:focus {
        color: $text-color;
        text-decoration: none;
        background-color: transparent;
        border-bottom: 1px solid $text-color;
      }
    }
    &:first-child {
      > a,
      > span {
        border-radius: 0;
      }
    }
    &:last-child {
      > a,
      > span {
        border-radius: 0;
      }
    }
    &.pager__item--first {
      display: none;
      @include respond-to(tablet-and-up) {
        display: block;
        position: absolute;
        left: 0;
      }
      > a {
        padding: 10px 10px 10px 35px;
        margin: 0;
        &:hover,
        &:focus {
          text-decoration: underline;
          border-bottom: none;
        }
        &:after {
          content: '';
          position: absolute;
          @include sprite(arrow--medium-left-thin-dark-grey);
          font-size: 13px;
          top: 14px;
          left: 16px;
        }
        &:before {
          content: '';
          position: absolute;
          @include sprite(arrow--medium-left-thin-dark-grey);
          font-size: 13px;
          top: 14px;
          left: 9px;
        }
      }
    }
    &.pager__item--previous {
      > a {
        padding: 10px 10px 10px 25px;
        &:hover,
        &:focus {
          text-decoration: underline;
          border-bottom: none;
        }
        &:after {
          content: '';
          position: absolute;
          @include sprite(arrow--medium-left-thin-dark-grey);
          font-size: 13px;
          top: 14px;
          left: 7px;
        }
      }
    }
    &.pager__item--next {
      > a {
        padding: 10px 25px 10px 10px;
        &:hover,
        &:focus {
          text-decoration: underline;
          border-bottom: none;
        }
        &:after {
          content: '';
          position: absolute;
          @include sprite(arrow--medium-right-thin-dark-grey);
          font-size: 13px;
          top: 14px;
          right: 7px;
        }
      }
    }
    &.pager__item--last {
      display: none;
      @include respond-to(tablet-and-up) {
        display: block;
        position: absolute;
        right: 0;
      }
      > a {
        padding: 10px 35px 10px 10px;
        margin: 0;
        &:hover,
        &:focus {
          text-decoration: underline;
          border-bottom: none;
        }
        &:after {
          content: '';
          position: absolute;
          @include sprite(arrow--medium-right-thin-dark-grey);
          font-size: 13px;
          top: 14px;
          right: 16px;
        }
        &:before {
          content: '';
          position: absolute;
          @include sprite(arrow--medium-right-thin-dark-grey);
          font-size: 13px;
          top: 14px;
          right: 9px;
        }
      }
    }
  }
}

.pagination--large-arrows,
%pagination--large-arrows {
  width: 100%;
  @include respond-to(tablet-and-up) {
    font-size: $font-size-h4;
  }
  > li {
    > a {
      position: relative;
      border-radius:0;
      border: none;
      background-repeat: no-repeat;
      background-color: transparent;
      color: $text-color;
      &:hover {
        text-decoration: underline;
      }
    }
    &.previous,
    &.pager__item--previous {
      > a {
        padding: 10px 10px 10px 40px;
        @include respond-to(tablet-and-up) {
          padding: 10px 20px 10px 40px;
        }
        @extend .pull-left;
        &:after {
          content: '';
          position: absolute;
          @include sprite(arrow--medium-left-thin-dark-grey);
          top: 2px;
          left: 6px;
          font-size: 16px;
          @include respond-to(tablet-and-up) {
            top: 15px;
            left: 15px;
          }
        }
        &:visited {
          color: $link-color;
          &:hover {
            color: $link-hover-color;
          }
        }
      }
    }
    &.next,
    &.pager__item--next {
      > a {
        padding: 10px 40px 10px 10px;
        @include respond-to(tablet-and-up) {
          padding: 10px 40px 10px 20px;
        }
        @extend .pull-right;
        &:after {
          content: '';
          position: absolute;
          @include sprite(arrow--medium-right-thin-dark-grey);
          top: 2px;
          right: 6px;
          font-size: 16px;
          @include respond-to(tablet-and-up) {
            top: 15px;
            right: 15px;
          }
        }
        &:visited {
          color: $link-color;
          &:hover {
            color: $link-hover-color;
          }
        }
      }
    }
  }
}

/* Drupal's default mini pager */
.pager {
  position: relative;
  @extend %has-margin-top-double;
  /* Extend variant large-arrows as declared above */
  @extend %pagination--large-arrows;
  .pager-current {
    position: absolute;
    top: 11px;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: $font-size-base;
    z-index: -1;
    @include respond-to(tablet-and-up) {
      top: 14px;
    }
  }
}
