/**
 * @file
 * Override Drupal / Bootstrap pagination
 */

/* Drupal default full pager */
.pagination {
  @extend %has-margin-top-double;
  > li {
    &.active {
      > a {
        color: $text-color;
        font-weight: 700;
        background-color: transparent;
        border-color: transparent;
        border-bottom: 1px solid $text-color;
        &:hover,
        &:focus {
          color: $text-color;
          font-weight: 700;
          background-color: transparent;
          border-color: transparent;
          border-bottom: 1px solid $text-color;
        }
      }
      > span {
        color: $text-color;
        font-weight: 700;
        background-color: transparent;
        border-color: transparent;
        border-bottom: 1px solid $text-color;
        padding: 9px 14px;
        &:hover,
        &:focus {
          color: $text-color;
          font-weight: 700;
          background-color: transparent;
          border-color: transparent;
          border-bottom: 1px solid $text-color;
        }
      }
    }
    > a {
      position: relative;
      border-radius: 0;
      border: none;
      background-repeat: no-repeat;
      background-color: transparent;
      padding: 10px 5px;
      color: $text-color;
      border-bottom: 1px solid $white;
      margin: 0 5px;
      font-size: 16px;
      &:hover,
      &:focus {
        color: $text-color;
        text-decoration: none;
        background-color: transparent;
        border-bottom: 1px solid $text-color;
      }
    }
    &:first-child {
      > a,
      > span {
        border-radius: 0;
      }
    }
    &:last-child {
      > a,
      > span {
        border-radius: 0;
      }
    }
    &.pager__item--first {
      display: none;
      @include respond-to(tablet-and-up) {
        display: block;
        position: absolute;
        left: 0;
      }
      > a {
        padding: 10px 10px 10px 35px;
        margin: 0;
        &:hover,
        &:focus {
          text-decoration: underline;
          border-bottom: none;
        }
        &::after {
          content: '';
          position: absolute;
          background: svg-load('../images/icons/arrow--medium-left-thin.svg', fill=#313132);
          background-repeat: no-repeat;
          background-position: 0 0;
          background-size: 85% 85%;
          width: 9px;
          height: 16px;
          top: 14px;
          left: 16px;
        }
        &::before {
          content: '';
          position: absolute;
          background: svg-load('../images/icons/arrow--medium-left-thin.svg', fill=#313132);
          background-repeat: no-repeat;
          background-position: 0 0;
          background-size: 85% 85%;
          width: 9px;
          height: 16px;
          top: 14px;
          left: 9px;
        }
      }
    }
    &.pager__item--previous {
      > a {
        padding: 10px 10px 10px 25px;
        &:hover,
        &:focus {
          text-decoration: underline;
          border-bottom: none;
        }
        &::after {
          content: '';
          position: absolute;
          background: svg-load('../images/icons/arrow--medium-left-thin.svg', fill=#313132);
          background-repeat: no-repeat;
          background-position: 0 0;
          background-size: 85% 85%;
          width: 9px;
          height: 16px;
          top: 15px;
          left: 7px;
        }
      }
    }
    &.pager__item--next {
      > a {
        padding: 10px 25px 10px 10px;
        &:hover,
        &:focus {
          text-decoration: underline;
          border-bottom: none;
        }
        &::after {
          content: '';
          position: absolute;
          background: svg-load('../images/icons/arrow--medium-right-thin.svg', fill=#313132);
          background-repeat: no-repeat;
          background-position: 0 0;
          background-size: 85% 85%;
          width: 9px;
          height: 16px;
          top: 15px;
          right: 7px;
        }
      }
    }
    &.pager__item--last {
      display: none;
      @include respond-to(tablet-and-up) {
        display: block;
        position: absolute;
        right: 0;
      }
      > a {
        padding: 10px 35px 10px 10px;
        margin: 0;
        &:hover,
        &:focus {
          text-decoration: underline;
          border-bottom: none;
        }
        &::after {
          content: '';
          position: absolute;
          background: svg-load('../images/icons/arrow--medium-right-thin.svg', fill=#313132);
          background-repeat: no-repeat;
          background-position: 0 0;
          background-size: 85% 85%;
          width: 9px;
          height: 16px;
          top: 15px;
          right: 16px;
        }
        &::before {
          content: '';
          position: absolute;
          background: svg-load('../images/icons/arrow--medium-right-thin.svg', fill=#313132);
          background-repeat: no-repeat;
          background-position: 0 0;
          background-size: 85% 85%;
          width: 9px;
          height: 16px;
          top: 15px;
          right: 9px;
        }
      }
    }
  }
}

.pagination--large-arrows,
%pagination--large-arrows {
  width: 100%;
  > li {
    > a {
      position: relative;
      border-radius:0;
      border: none;
      background-repeat: no-repeat;
      background-color: transparent;
      color: $text-color;
      &:hover {
        text-decoration: underline;
        background-color: transparent;
      }
      &:visited {
        color: $text-color;
      }
    }
    &.previous {
      > a {
        padding: 10px 10px 10px 20px;
        @include respond-to(tablet-and-up) {
          padding: 16px 20px 16px 44px;
        }
        &::after {
          content: '';
          position: absolute;
          background: svg-load('../images/icons/arrow--medium-left-thin.svg', fill=#313132);
          background-repeat: no-repeat;
          background-position: 0 0;
          background-size: cover;
          width: 9px;
          height: 16px;
          top: 14px;
          left: 0;
          @include respond-to(tablet-and-up) {
            top: 14px;
            left: 15px;
            width: 18px;
            height: 32px;
          }
        }
      }
    }
    &.next {
      > a {
        padding: 10px 20px 10px 10px;
        @include respond-to(tablet-and-up) {
          padding: 16px 44px 16px 20px;
        }
        &::after {
          content: '';
          position: absolute;
          background: svg-load('../images/icons/arrow--medium-right-thin.svg', fill=#313132);
          background-repeat: no-repeat;
          background-position: 0 0;
          background-size: cover;
          width: 9px;
          height: 16px;
          top: 14px;
          right: 0;
          @include respond-to(tablet-and-up) {
            top: 14px;
            right: 15px;
            width: 18px;
            height: 32px;
          }
        }
      }
    }
  }
}

/* Drupal's default mini pager */
.pager {
  @extend %has-margin-top-base;
  @extend %pagination--large-arrows;
}
