/**
 * @file
 * BEM block for Promoted content.
 */
.promotion--default {
  padding: 0 0 $spacing-base;
}

.promotion--copyright {
  @include make-xs-column(12);
  @include make-lg-column(8);
  margin-top: $spacing-base;
  @include respond-to(tablet-and-up) {
    margin-top: 0;
  }
  p {
    font-size: 16px;
    color: $brand-gray-light;
    @include font-smoothing;
  }
  .field a:after {
    content:none;
  }
  .footer-regions-wrapper & .field a {
    color: $white;
  }
}

.promotion--brand {
  width: 70%;
  @include respond-to(tablet-and-up) {
    width: 60%;
  }
  @include respond-to(desktop-and-up) {
    width: 27%;
    margin-top: 0;
  }
  @include respond-to(wide-and-up) {
    width: 22%;
  }
  @include respond-to(mega-large-and-up) {
    width: 19%;
  }
}

.promotion--associated-organisation  {
  @include make-xs-column(12);
  @include make-lg-column(4);
  padding-top: $spacing-base;
  padding-bottom: $spacing-half;
  @include respond-to(wide-and-up) {
    position: absolute;
    top: 0;
    right: 0;
    padding-top: 0;
    padding-bottom: 0;
  }
}

.promotion--social-share {
  @extend %has-margin-top-double;
  display: inline-block;
  @include respond-to(desktop-and-up) {
    position: fixed;
    top: 20%;
    left: 0;
    display: block;
    line-height: 0;
    z-index: 1;
    margin: 0;
  }
}

.promotion--in-this-section {
  border-top: 1px solid $brand-border;
  > .block-title {
    font-size: $font-size-h4;
  }
}

.promotion--post-it {
  > h2 {
    font-size: $font-size-h4;
    border-bottom: 1px solid $gray;
    padding-bottom: $spacing-half;
    color: $white;
  }
  .menu {
    padding: $spacing-half 0;
    @include respond-to(tablet) {
      padding: $spacing-base 0;
    }
  }
  .menu__link {
    font-size: 16px;
    color: $brand-gray-light;
    padding: $spacing-quarter 0;
    text-decoration: underline;
    @include respond-to(tablet-and-up) {
      padding: em(10) em(3);
      margin: 0 $spacing-base 0 0;
    }
    &:hover,
    &.active {
      color: darken($brand-gray-light,10%);
      text-decoration: underline;
    }
    &:hover {
      background-color: transparent;
    }
  }
}

.promotion--news {
  @include make-xs-column(12);
  @include make-md-column(6);
}

.promotion--resources {
  @include make-xs-column(12);
  @include make-md-column(6);
}

.promotion--last-updated {
  @include make-xs-column(12);
  h2 {
    display: inline-block;
    font-size: $font-size-base;
    font-family: $font-family-sans-serif;
    margin: 0;
    color: $text-color;
    &:after {
      content: ':';
    }
  }
  .field--name-field-last-updated {
    display: inline-block;
  }
}

.promotion--blog-archive {
  .view-content {
    > ul {
      @extend .list-unstyled;
    }
  }
}
