/**
 * @file
 * BEM block for Promoted content.
 */
.promotion--default {
  padding: 0 0 $spacing-base;
}

.promotion--brand {
  .footer-regions-wrapper & {
    @include apply-gutter;
    margin-top: $spacing-base;
    @include respond-to(desktop-and-up) {
      margin-top: 0;
    }
  }
}

.promotion--navigation-primary {
  position: relative;
  @include respond-to(tablet-large-and-down) {
    display: none;
  }
  @include respond-to(desktop-and-up) {
    background-color: transparent;
  }
  &:after {
    @include respond-to(tablet-large-and-down) {
      content: '';
      width: 100vw;
      background-color: #444;
      position: absolute;
      z-index: -1;
      height: 100%;
      left: 50%;
      transform: translateX(-50%);
      display: block;
      top: 0;
    }
  }
}

.promotion--navigation-quaternary {
  @include apply-gutter;
  margin-top: $spacing-half;
  @include respond-to(desktop-and-up) {
    margin-top: 0;
  }
}

.promotion--copyright {
  @include apply-gutter;
  margin-top: $spacing-base;
  @include respond-to(desktop-and-up) {
    margin-top: 0;
  }
  p {
    font-size: 16px;
    color: $brand-gray-light;
  }
  .field a:after {
    content:none;
  }
  .footer-regions-wrapper & .field a {
    color: $white;
  }
}

.promotion--social-share {
  @extend %has-margin-top-double;
  display: inline-block;
  @include respond-to(desktop-and-up) {
    position: fixed;
    top: 20%;
    left: 0;
    display: block;
    line-height: 0;
    z-index: 1;
    margin: 0;
  }
}

.promotion--in-this-section {
  margin-top: $spacing-double;
  border-top: 1px solid $brand-border;
  > .block-title {
    font-size: $font-size-h4;
  }
}

.promotion--information-tiles {
  position: relative;
  padding-top: $spacing-base;
  padding-bottom: $spacing-base;
  @include respond-to(desktop-and-up) {
    padding-top: $spacing-double;
    padding-bottom: $spacing-double;
  }
  @include respond-to(wide-and-up) {
    padding-top: ($spacing-base*3);
    padding-bottom: ($spacing-base*3);
  }
  &:after {
    @include respond-to(tablet-and-up) {
      content: '';
      width: 100vw;
      background-color: $brand-gray-lightest;
      position: absolute;
      z-index: -1;
      height: 100%;
      left: 50%;
      transform: translateX(-50%);
      display: block;
      top: 0;
    }
  }
}

.promotion--news {
  @include apply-gutter;
  @include respond-to(desktop-and-up) {
    padding-right: 40px;
  }
  .more-link {
    @extend %has-margin-top-and-half;
    a {
      @extend %action--more;
    }
  }
}

.promotion--resources {
  @include apply-gutter;
  @include respond-to(desktop-and-up) {
    padding-left: 40px;
  }
  .more-link {
    @extend %has-margin-top-and-half;
    a {
      @extend %action--more;
    }
  }
}

.promotion--last-updated {
  @include apply-gutter;
  h2 {
    display: inline-block;
    font-size: 16px;
    font-family: $font-family-sans-serif;
    margin: 0;
    color: $text-color;
    &:after {
      content: ':';
    }
  }
  .field--name-field-last-updated {
    display: inline-block;
  }
}

.promotion--blog-archive {
  .view-content {
    > ul {
      @extend .list-unstyled;
    }
  }
}

.promotion--notice {
  background-color: #268edc;
  text-align: center;
  position: relative;
  margin-left: -($responsive-layout-gutter);
  margin-right: -($responsive-layout-gutter);
  @include respond-to(tablet-and-up) {
    margin-left: 0;
    margin-right: 0;
  }
  &.is-hidden {
    display: none;
  }
  &:after {
    @include respond-to(tablet-and-up) {
      content: '';
      width: 100vw;
      background-color: #268edc;
      position: absolute;
      height: 100%;
      left: 50%;
      transform: translateX(-50%);
      display: block;
      top: 0;
    }
  }
  .field--name-body {
    position: relative;
    z-index: 1;
    font-size: 14px;
    padding: $spacing-half 40px $spacing-half $responsive-layout-gutter;
    @extend %inverse;
    > p {
      margin: 0;
    }
  }
  .action--close {
    position: absolute;
    top: 12px;
    right: 37px;
    @include respond-to(tablet-and-up) {
      top: 12px;
      right: 22px;
    }
    &:before {
      cursor: pointer;
      background: svg-load('../images/icons/icon--close.svg', fill=#FFFFFF);
      background-repeat: no-repeat;
      background-position: 0 0;
      background-size: cover;
      height: 17px;
      width: 17px;
    }
  }
}

.promotion--facet-summary {
  > ul {
    @extend .list-unstyled;
    @extend .list-inline;
    .facet-summary-item--clear {
      padding: 0;
      + .facet-summary-item--facet {
        position: relative;
        padding-left: 91px;
        &:before {
          content: 'Active filters:';
          position: absolute;
          top: 8px;
          left: 0;
          font-size: 14px;
        }
      }
    }
  }
}

.promotion--boxed {
  border: 1px solid #a1aab2;
  border-top: 1px solid #a1aab2!important;
  padding: 30px;
  .block {
    &:first-child {
      margin-top: 10px!important;
    }
    &:last-child {
      border-bottom: none;
    }
  }
}

.promotion--facet-group {
  border-bottom: 1px solid #d5d5d6;
  padding-bottom: 10px;
  .site__sidebar-inner & {
    border-top: none;
    padding-top: 0;
  }
  .block-title {
    position: relative;
    .site__sidebar-inner & {
      color: #2a2d32;
      text-transform: uppercase;
      font-size: 16px;
      margin: 0 0 30px;
    }
  }
  .facets-widget-links {
    .facet-item {
      display: block;
      position: relative;
      border-bottom: 1px solid #e2e2e2;
      > a {
        display: block;
        padding: 10px 28px 10px 0;
        line-height: 1.3;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
