/**
 * @file
 * BEM block for Related content.
 */
.related {
  @extend %has-border-top-large;
  padding-top: $spacing-base;
  > .field {
    @extend %has-margin-top-and-half;
  }
  .field--label {
    margin: $spacing-double 0 $spacing-half 0;
    @extend %has-heading-alternate;
    @extend %has-border-top-alternate;
    &::before {
      top: -12px;
    }
  }
  .field--items {
    margin: $spacing-quarter 0 0 0;
  }
}
