/**
 * @file
 * BEM block for Search
 */

.search--primary {
  position: relative;
  @extend %box-it-up;
  &.views-exposed-form {
    margin-top: 0;
    @include respond-to(mobile) {
      padding: $spacing-half;
    }
  }
  .btn-primary {
    position: absolute;
    top: 28px;
    right: 28px;
    padding: 12px 21px 12px;
    font-size: 16px;
    margin-top: 0;
    border-radius: 0;
    @include respond-to(mobile) {
      top: 14px;
      right: 14px;
    }
    .icon {
      display: none;
    }
  }
  label {
    @extend .sr-only;
  }
  .form-group {
    margin-bottom: 0;
  }
  .form-control {
    padding-right: 106px;
  }
}

.search--small {
  padding: $spacing-half $spacing-base;
  .btn {
    position: relative;
    height: 43px;
    width: 43px;
    background-color: $white;
    border-radius:0;
    border: 1px solid $brand-gray-light;
    .icon {
      color: $gray-dark;
    }
  }
  .form-control {
    &.form-text,
    &.form-search {
      height: 43px;
    }
  }
  .description {
    color: $gray-lighter;
  }
}

.search--flyout {
  display: none;
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 0;
  background-color: transparent;
  width: 100%;
  @include respond-to(tablet) {
    padding: 0 $responsive-layout-gutter;
  }
  .js & {
    margin: 0;
    @include respond-to(tablet-large-and-down) {
      margin-top: 20px;
    }
    @include respond-to(desktop-and-up) {
      padding: 0;
      position: absolute;
      right: 51px;
      clear: none;
      top: -4px;
      width: 64%;
    }
    @include respond-to(wide-large-and-up) {
      width: 71%;
    }
    @include respond-to(mega-and-up) {
      width: 74%;
    }
  }
  .js &.search-is-active {
    display: block;
  }
  &.search-is-active {
    display: block;
    @include apply-gutter;
    @include respond-to(desktop-and-up) {
      padding-left: 0;
      padding-right: 0;
    }
  }
  .form-group {
    margin-bottom: 0;
  }
  label {
    @extend .sr-only;
  }
  form {
    position: relative;
  }
  [data-drupal-selector="edit-actions"] {
    position: absolute;
    top: 0;
    right: 0;
  }
  .btn {
    background-color: $brand-gray-lightest;
    border: 1px solid $brand-border;
    height: 54px;
    width: 54px;
    padding: 0;
    position: relative;
    text-indent: -50000px;
    border-radius: 0;
    .icon {
      display: none;
    }
    &:after {
      content:'';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateY(-50%) translateX(-50%) scale(1.5);
      @include sprite(icon--search-dark-grey);
      font-size: 13px;
    }
    &:hover,
    &:active,
    &:active:focus,
    &:focus {
      background-color: darken($brand-gray-lightest,5%);
      border: 1px solid $brand-border;
      box-shadow: none;
      outline-offset: 0;
      outline: none;
    }
    &:focus,
    &:active:focus {
      border: 1px solid $black;
    }
  }
  .description {
    margin-bottom: 0;
    margin-top: 0;
  }
  .form-control {
    &.form-text,
    &.form-search {
      background-color: $white;
      border: 1px solid $brand-border;
      color: $text-color;
      height: 54px;
      &:focus {
        outline: none;
        outline-offset: 0;
        box-shadow: none;
      }
    }
  }
}
