/**
 * @file
 * BEM block for Search
 */

.search--primary {
  position: relative; /* Create a positioning context for the submit button */
  &.views-exposed-form {
    @include respond-to(mobile) {
      padding: $spacing-half;
    }
  }
  .btn-primary {
    position: absolute;
    top: 26px;
    right: 26px;
    padding: 12px 21px 13px;
    font-size: 16px;
    margin-top: 0;
    @include respond-to(mobile) {
      top: 13px;
      right: 13px;
    }
    .icon {
      display: none;
    }
  }
  .form-group {
    margin-bottom: 0;
  }
  .form-control {
    padding-right: 106px;
  }
}

.search--small {
  padding: $spacing-half $spacing-base;
  .btn {
    position: relative;
    height: 43px;
    width: 43px;
    background-color: $white;
    border-radius:0;
    border: 1px solid $brand-gray-light;
    .icon {
      color: $gray-dark;
    }
  }
  .form-control {
    &.form-text,
    &.form-search {
      height: 43px;
    }
  }
  .description {
    color: $gray-lighter;
  }
}

.search--flyout,
.search-page-form {
  .form-control {
    &.form-text,
    &.form-search {
      height: 43px;
    }
  }
  .form-group {
    margin-bottom: 0;
  }
  .btn {
    background-color: $brand-gray-lightest;
    border: 1px solid $brand-border;
    height: 54px;
    width: 54px;
    padding: 0;
    position: relative;
    text-indent: -50000px;
    border-radius: 0;
    .icon {
      display: none;
    }
    &:after {
      content:'';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateY(-50%) translateX(-50%) scale(1.5);
      @include sprite(icon--search-dark-grey);
      font-size: 13px;
    }
    &:hover,
    &:active,
    &:active:focus,
    &:focus {
      background-color: darken($brand-gray-lightest,5%);
      border: 1px solid $brand-border;
      box-shadow: none;
      outline-offset: 0;
      outline: none;
    }
    &:focus,
    &:active:focus {
      border: 1px solid $black;
    }
  }
  .description {
    margin-bottom: 0;
    margin-top: 0;
  }
}

.search--flyout {
  clear: both;
  display: none;
  @include respond-to(tablet-large-and-down) {
    margin-top: 20px;
  }
  &.search-is-active {
    display: block;
    padding-left: $responsive-layout-gutter;
    padding-right: $responsive-layout-gutter;
    @include respond-to(desktop-and-up) {
      padding-left: 0;
      padding-right: 0;
    }
  }
  // only hide for desktop
  @include respond-to(desktop-and-up) {
    width: 64%;
    .js & {
      display: none;
      position: absolute;
      top: -4px;
      right: 51px;
      clear: none;
    }
  }
  .js &.search-is-active {
    @include respond-to(desktop-and-up) {
      display: block;
    }
  }
  @include respond-to(wide-large-and-up) {
    width: 70%;
  }
  .form-control {
    &.form-text,
    &.form-search {
      background-color: $white;
      border: 1px solid $brand-border;
      color: $text-color;
      height: 54px;
      &:focus {
        outline: none;
        outline-offset: 0;
        box-shadow: none;
      }
    }
  }
  .description {
    @extend .text-hide;
  }
}

/* /search/node for core search */
.search-form {
  margin: 0;
  @extend %box-it-up;
  .search-help-link {
    display: inline-block;
  }
  .button {
    border-radius: 0;
    margin-right: 10px;
    padding: 12px 15px;
    font-size: 16px;
    margin-top: 0;
  }
}

.search-help-link {
  text-decoration: underline;
}
