/**
 * @file
 * BEM block for Slats.
 *
 * A common design pattern is a list of repeating content blocks typically
 * containing a headline, a short text blurb and an image.
 * This is commonly called a slat.
 *
 * A slat is kind of like a Drupal 'teaser' (view mode) but the ambiguous name
 * means it is more versatile and can be used outside of the view mode context.
 *
 * Here we establish some base level BEM-style slat behaviour
 * Use these classes to theme elements like teasers eg: via Display Suite.
 * or apply to Drupal views.
 */

.slat__media {
  transition: all 0.05s ease-in;
  border: 1px solid darken($gray-lighter, 10%);
  > a {
    display: block;
  }
}

.slat__title {
  a {
    color: $brand-blue-gray;
    &:hover,
    &:focus {
      text-decoration: underline;
      transition:all 0.05s ease-in;
    }
    &:visited {
      color: #515151;
    }
  }
}

.slat__body {
  .lead {
    color: $text-color;
    font-size: $font-size-base;
    font-weight: 400;
  }
}

.slat__title--link {
  font-weight: 400;
  text-decoration: underline;
}

.slat__date {
  @extend %date;
}

.slat__term {
  font-size: 14px;
  color: $brand-blue-gray;
  > a {
    &:focus {
      outline-offset: 0;
    }
  }
}

.slat__location {
  color: $gray-light;
}

.slat--tile {
  border: 1px solid $brand-border;
  padding: $spacing-half $spacing-half $spacing-base $spacing-half;
  .slat__media {
    border-bottom: none;
  }
}

.slat__link {
  position: relative;
  float: left;
  width: 100%;
  display: block;
  .slat__title {
    color: $brand-blue-gray;
    transition: none;
  }
  .slat__body {
    color: $text-color;
  }
  .slat__date {
    color: lighten($gray-light,10%);
  }
  &:hover,
  &:focus {
    text-decoration: none;
    .slat__title {
      color: $brand-blue-gray;
      text-decoration: underline;
      transition: all 0.05s ease-in;
    }
    .slat__body {
      color: $text-color;
    }
    .slat__date {
      color: lighten($gray-light,10%);
    }
    .slat__media {
      border: 1px solid darken($gray-lighter, 30%);
    }
  }
  &:focus {
    background-color: transparent;
    outline-offset: 0;
  }
  &:visited {
    .slat__title {
      color: #515151;
    }
    .action--more {
      color: #4d6edd;
      &:before {
        background-color: #4d6edd;
      }
    }
  }
  /* Add external link icon to links within the main content areas */
  &[href^="http://"],
  &[href^="https://"],
  &[rel*='external'] {
    .action--more {
      &:after {
        font-size: 16px;
        content: '';
        @include sprite(icon--external-blue);
        margin-left: 2px;
        vertical-align: middle;
      }
    }
  }
}
