/**
 * @file
 * BEM block for Toggle.
 */
.toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  float: right;
  clear: both;
  color: $white;
  position: relative;
  padding: 0;
  cursor: pointer;
  width: 26px;
  height: 26px;
  margin-right: 10px;
  &:hover {
    text-decoration: none;
  }
  .icon--menu {
    margin-top: 3px;
  }
  .icon--search {
    margin-top: 2px;
    margin-left: 2px;
  }
  .icon--close {
    display: none;
  }
  &.active {
    .icon--close {
      display: flex;
    }
    .icon--menu,
    .icon--search {
      display: none;
    }
  }
}

.toggle--search {
  display: none;
  margin-top: 6px;
  .js & {
    display: flex;
  }
}
