/**
 * @file
 * BEM block for Toggle.
 */
.toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  float: right;
  clear: both;
  color: $white;
  position: relative;
  padding: 0;
  cursor: pointer;
  width: 26px;
  height: 26px;
  margin-right: 14px;
  border: none;
  background-color: transparent;
  outline: none;
  position: relative;
  
  &:hover {
    text-decoration: none;
  }
  
  .no-touchevents &:focus {
    background-color: $brand-focused;
    outline: 3px solid $brand-focused;
    outline-offset: -3px;
  }
  
  .icon--inline {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    &:before {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
    }
  }
  
  .icon--menu {
    margin-top: 3px;
  }
  .icon--search {
    margin-top: 14px;
    margin-left: 2px;
    @include respond-to(desktop-and-up) {
      margin-top: 0;
    }
  }
  .icon--close {
    display: none;
  }
  &.active {
    .icon--close {
      display: flex;
    }
    .icon--menu,
    .icon--search {
      display: none;
    }
  }
}

.toggle--search {
  display: none;
  margin-top: 6px;
  .js & {
    display: flex;
  }
}
