/**
 * @file
 * BEM block for Toggle.
 */
.toggle {
  float: right;
  clear: both;
  color: $white;
  position: relative;
  padding: 8px 12px 5px;
  cursor: pointer;
  &:hover {
    text-decoration: none;
  }
  .icon--close {
    display: none;
    &:before {
      @include sprite(icon--close-small-white);
    }
  }
  &.active {
    .icon--close {
      display: block;
    }
    .icon--menu,
    .icon--search {
      display: none;
    }
  }
}

.toggle--search {
  margin: 0;
  padding: 10px 11px 2px 12px;
  display: none;
  .js & {
    display: block;
  }
}
