/**
 * @file
 * BEM block for Views exposed form.
 *
 * [1]
 *
 * The intention is to create responsive views exposed filters by applying the
 * classe to the view via views UI Advanced > CSS class.
 *
 * For example:
 *
 * <div class="view has-filters-with-responsive-layout">
 *    <div class="views-exposed-form">
 *        <div class="form-item ...">     ... </div>
 *        <div class="form-item ...">     ... </div>
 *        <div class="form-item ...">     ... </div>
 *        <div class="form-actions ...">  ... </div>
 *    </div>
 * </div>
 */

.views-exposed-form {
  margin: $spacing-half 0;
  @include respond-to(tablet-and-up) {
    margin: $spacing-base 0;
  }
  label {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
    margin-bottom: 0;
    font-weight: 600;
  }
  > .form-item {
    margin-top: $spacing-half;
    @include respond-to(tablet-and-up) {
      margin-top: $spacing-base;
    }
    @include respond-to(desktop-and-up) {
      margin-top: $spacing-and-half;
    }
    width: 100%;
    padding: 0;
    &:first-child {
      margin-top: 0;
    }
  }
  > .form-actions {
    margin-top: $spacing-half;
    @include respond-to(tablet-and-up) {
      margin-top: $spacing-base;
    }
    @include respond-to(desktop-and-up) {
      margin-top: $spacing-and-half;
    }
    .button {
      padding: 12px 14px;
      font-size: 16px;
      margin-top: 0;
      @include respond-to(tablet-and-up) {
        margin-right: 10px;
      }
    }
  }
}

/* [1] */
.has-filters-with-responsive-layout {
  .views-exposed-form {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding-right: 0;
    justify-content: center;
    @include respond-to(desktop-and-up) {
      max-width: 600px;
    }
    > .form-item {
      @include respond-to(tablet-and-up) {
        padding-right: 10px;
      }
    }
    > .form-item,
    > .form-actions {
      @include respond-to(tablet-large-and-up) {
        margin-top: 0;
      }
      ~ .form-item,
      ~ .form-actions {
        margin-top: $spacing-half;
      }
    }
    > .form-actions {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      @include respond-to(tablet-and-up) {
        flex-wrap: nowrap;
      }
      @include respond-to(tablet-large-and-up) {
        padding-top: 28px;
      }
      .button {
        @include respond-to(mobile) {
          width: 100%;
          display: block;
        }
        + .button {
          @include respond-to(mobile) {
            margin-top: $spacing-half;
          }
        }
      }
    }
    @include respond-to(tablet-large-and-up) {
      flex-direction: row;
      > .form-item,
      > .form-actions {
        ~ .form-item,
        ~ .form-actions {
          margin-top: 0;
        }
      }
    }
  }
}
