// /**
//  * @file
//  * BEM block for Views exposed form.
//  */
.views-exposed-form {
  border: 1px solid $brand-border;
  background-color: lighten($gray-lighter,5%);
  padding: $spacing-half;
  margin: 0;
  @include respond-to(tablet-and-up) {
    padding: $spacing-base;
  }
}