@use 'mixins/icon';

@mixin promo-arrow {
  @apply relative inline-flex items-center
    gap-x-1
    whitespace-normal
    pr-2
    font-semibold
    no-underline
    decoration-0
    duration-300
    after:right-5
    after:inline-block
    after:duration-300
    after:ease-in-out
    hover:cursor-pointer
    hover:after:translate-x-2
    focus-visible:outline-ss-primary;

  text-decoration: none !important;

  &::after {
    @apply motion-safe:ease-in-out;

    display: inline-block !important;
    width: 1.5rem !important;
    height: 1.5rem !important;
    top: 0;

    .subtitle & {
      top: 2px;
    }
  }
}

:is(
    a.link--promo--light--arrow,
    a.link--promo--dark--arrow,
    .link--promo--light--arrow:not([href]) > a,
    .link--promo--dark--arrow:not([href]) > a
  ) {
  @include promo-arrow;
}

:is(a.link--promo--dark--arrow, .link--promo--dark--arrow:not([href]) > a) {
  @apply text-current dark:text-white;

  &::after {
    @include icon.render(('icons/arrow-forward.svg'), 'fill=black');
  }

  @apply after:fill-white;
}

:is(a.link--promo--light--arrow, .link--promo--light--arrow:not([href]) > a) {
  @apply text-white dark:text-black;

  &::after {
    @include icon.render(('icons/arrow-forward.svg'), 'fill=white');
  }
}


*:has(:where(.link--promo--light--arrow, .link--promo--dark--arrow) + :where(.link--promo--light--arrow, .link--promo--dark--arrow)) :where(.link--promo--light--arrow, .link--promo--dark--arrow) {
  @apply me-4;
}