.list-item--standard .node__title~.node__content {margin-top: 1.25rem
}.list-item--standard .node__content > :not([hidden]) ~ :not([hidden]) {--tw-space-y-reverse: 0;margin-top: calc(0.75rem * calc(1 - var(--tw-space-y-reverse)));margin-bottom: calc(0.75rem * var(--tw-space-y-reverse))
}.list-item--standard .node__content {-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale
}.list-item--standard .field--type-datetime {--tw-text-opacity: 1;color: rgb(107 114 128 / var(--tw-text-opacity))
}