@import 'bootstrap/custom-bootstrap-variables';
@import 'bootstrap/scss/mixins/breakpoints';
@import 'bootstrap/scss/mixins/grid';


.pre-content {
  background-color: $white;
  color: $body-color;
  //@extend .mt-4;
  
  --spacing: calc(#{$spacer} * 2);
  
  @include media-breakpoint-up(md) {
    --spacing: calc(#{$spacer} * 4)
  }
  
}

.region-pre-content {
  @include make-container-max-widths;
  @include make-container;
  position: relative;
  
  * + .pre-content & {
    margin-top: calc(#{$spacer} * 4);
    margin-top: var(--spacing);
  }
  
  &::after {
    content: '';
    width: 100%;
    display: block;
    margin-bottom: calc(#{$spacer} * 4);
    margin-bottom: var(--spacing);
  }

  .page-variant--section-entry-page &::after {
    height: 3px;
    background-color: #252526;
    margin-top: calc(#{$spacer} * 4);
    margin-top: var(--spacing);
  }
}