/**
 * @file
 * BEM block for content.
 */
.content {
  padding-top: $spacing-base;
  .path-frontpage & {
    padding-top: 0;
  }
  @include respond-to(desktop-and-up) {
    padding-top: $spacing-and-half;
    .path-frontpage & {
      padding-top: 0;
    }
  }
  .region-content {
    .path-user & {
      @extend .row;
    }
  }
}
