/**
 * @file
 * BEM block for content.
 */
.content {
  > .site__inner {
    position: relative;
    padding-top: 0;
    @include respond-to(desktop-and-up) {
      padding-top: 0;
      margin-top: $spacing-and-half;
    }
    @include respond-to(wide-and-up) {
      padding-top: 0;
      margin-top: $spacing-and-half;
    }
    .page-variant--section-entry-page & {
      padding-top: $spacing-base;
      margin-top: $spacing-base;
      @include respond-to(desktop-and-up) {
        padding-top: $spacing-double;
        margin-top: $spacing-double;
      }
      @include respond-to(wide-and-up) {
        padding-top: ($spacing-base*3);
        margin-top: ($spacing-base*3);
      }
    }
    &:before {
      .page-variant--section-entry-page & {
        content: '';
        height: 3px;
        background-color: $brand-blue-gray;
        position: absolute;
        top: 0;
        width: 100%;
      }
    }
  }
}
