/**
 * @file
 * BEM block for footer.
 */
.footer {
  padding-top: $spacing-base;
  padding-bottom: $spacing-base;
  border-top: 10px solid $black;
  @include respond-to(desktop-and-up) {
    padding-top: $spacing-double;
    padding-bottom: $spacing-double;
  }
}
