/**
 * @file
 * BEM block for header.
 */
.header {
  padding-top: 20px;
  padding-bottom: 20px;
  box-shadow: 0px 6px 10px rgba(#667891,0.15);
  @include respond-to(desktop-and-up) {
    background-color: $white;
    padding-top: $spacing-base;
    padding-bottom: $spacing-base;
    position: relative;
  }
  &.navigation-is-open {
    padding-bottom: 0;
    @include respond-to(desktop-and-up) {
      padding-bottom: $spacing-base;
    }
  }
  .site__row {
    @include respond-to(desktop-and-up) {
      position: relative;
    }
  }
  .region-header {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    height: 100%;
    align-items: center;
  }
}
