/**
 * @file
 * BEM block for hero.
 */
.hero {
  background-color: #EBEBEB;
  .path-frontpage & {
    background-color: transparent;
  }
  .region-hero {
    @include make-md-column(12);
    .path-frontpage & {
      @include make-md-column(10);
      @include make-md-column-push(1);
      text-align: center;
      margin-top: 3vw;
      margin-bottom: 16vw;
      @include respond-to(desktop-and-up) {
        margin-top: 13vh;
        margin-bottom: 17vh;
      }
    }
  }
  .page-header {
    .path-frontpage & {
      color: $white;
    }
  }
}

:not(.path-frontpage) .region-hero {
  margin: 4vw 0;
  @include respond-to(desktop-and-up) {
    margin: 4vh 0;
  }
}
