/**
 * @file
 * BEM block for post-content.
 */
.post-content {
  .region-post-content {
    .path-frontpage & {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      align-items: center;
      @include respond-to(desktop-and-up) {
        grid-template-rows: 100%;
        grid-template-columns: 1fr 1fr;
      }
      .promotion--news {
        grid-row: 1 / 2;
        @include respond-to(desktop-and-up) {
          grid-column: 1 / 2;
        }
      }
      .promotion--resources {
        grid-row: 2 / 3;
        @include respond-to(desktop-and-up) {
          grid-row: 1 / 2;
          grid-column: 2 / 2;
        }
      }
    }
  }
}
