/**
 * @file
 * BEM block for post-header.
 */
.post-hero {
  .region-post-hero {
    width: 100%;
    padding-left: $responsive-layout-gutter;
    padding-right: $responsive-layout-gutter;
    @extend %has-margin-top-base;
  }
}
