/**
 * @file
 * BEM block for post-header.
 */
.post-header {
  .region-post-header {
    width: 100%;
    padding-left: $responsive-layout-gutter;
    padding-right: $responsive-layout-gutter;
  }
}
