/**
 * @file
 * BEM block for post-content.
 */
.post-content {
  .region-post-content {
    .path-frontpage & {
      display: flex;
      align-items: flex-start;
      flex-wrap: wrap;
      height: 100%;
      @include respond-to(desktop-and-up) {
        justify-content: space-between;
      }
    }
  }
}
