/**
 * @file
 * BEM block for pre-header.
 */
.pre-header {
  background-color: $white;
  .region-pre-header {
    margin-left: $responsive-layout-gutter;
    margin-right: $responsive-layout-gutter;
  }
}
