/**
 * @file
 * BEM block for pre-content.
 */
.pre-content {
  @include respond-to(tablet-and-up) {
    margin-top: $spacing-base;
  }
  @include respond-to(desktop-and-up) {
    margin-top: $spacing-and-half;
  }
  .region-pre-content {
    width: 100%;
    padding-left: $responsive-layout-gutter;
    padding-right: $responsive-layout-gutter;
  }
}
