/**
 * @file
 * BEM block for site.
 */
.site__inner {
  @extend .container;
  @include respond-to(mega-and-up) {
    width: 1240px;
  }
}

.site__row {
  @extend .row;
  .content & {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    height: 100%;
  }
}

.site__content {
  &.has-sidebar {
    @include respond-to(desktop-and-up) {
      width: percentage(8/12);
    }
    @include respond-to(wide-and-up) {
      width: percentage(9/12);
      padding: 0 em(80) 0 $responsive-layout-gutter;
    }
    @include respond-to(mega-and-up) {
      padding: 0 em(140) 0 $responsive-layout-gutter;
    }
  }
  + .site__sidebar {
    margin-top: $spacing-base;
    @include respond-to(desktop-and-up) {
      margin-top: 0;
    }
  }
}

.site__sidebar {
  padding-left: $responsive-layout-gutter;
  padding-right: $responsive-layout-gutter;
  @include respond-to(desktop-and-up) {
    width: percentage(4/12);
  }
  @include respond-to(wide-and-up) {
    width: percentage(3/12);
  }
}

.site__sidebar-inner {
  font-size: 16px;
  line-height: (26/16);
  .block {
    @extend %has-border-top-large;
    padding-top: $spacing-base;
    @extend %apply-external-link-icon;
    @include respond-to(desktop-and-up) {
      margin-top: $spacing-double;
    }
    &.has-no-border-top {
      @extend %has-no-border-top;
    }
    .block-title {
      font-size: $font-size-h4;
    }
    &:first-child {
      @include respond-to(desktop-and-up) {
        margin-top: 0;
      }
    }
    ~ .block {
      margin-top: $spacing-base;
    }
  }
}
