.exposed-form {-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale
}.exposed-form .btn {margin-top: 0px;margin-bottom: 0px
}.exposed-form .form-item {display: flex;align-items: center;-moz-column-gap: 0.5rem;column-gap: 0.5rem
}.exposed-form label {font-size: 0.875rem;line-height: 1.25rem;text-transform: uppercase
}