@import 'src/bootstrap/custom-bootstrap-variables';

.comment-form {
  border: 1px $border-color solid;
  background-color: $light;
  border-radius: $btn-border-radius;;
  padding: $spacer;

  * + & {
    margin-top: $spacer * 2;
  }
}