@svg-load documentWithExtension url( 'assets/document.svg' ) {
  fill: #{$gray-800};
  text.file-type {
    fill: #{$white};
    font-family: #{$font-family-monospace};
  }
}

@svg-load documentPDF url( 'assets/document.svg' ) {
  fill: #{$gray-800};
  text.file-type {
    fill: transparent;
    font-family: #{$font-family-monospace};
    z-index:0;
  };
  text.file-type--pdf {
    fill: #{$gray-800};
    z-index: 1;
  }
}

@svg-load documentWord url( 'assets/document.svg' ) {
  fill: #{$gray-800};
  text.file-type {
    fill: transparent;
    font-family: #{$font-family-monospace};
  };
  text.file-type--doc {
    fill: #{$gray-800};
  }
}

@svg-load documentExcel url( 'assets/document.svg' ) {
  fill: #{$gray-800};
  text.file-type {
    fill: transparent;
    font-family: #{$font-family-monospace};
  };
  text.file-type--xls {
    fill: #{$gray-800};
  }
}

@svg-load documentPowerpoint url( 'assets/document.svg' ) {
  fill: #{$gray-800};
  text.file-type {
    fill: transparent;
    font-family: #{$font-family-monospace};
  };
  text.file-type--ppt {
    fill: #{$gray-800};
  }
}