<button type="button" class="search__toggle w-12 h-12 place-items-center" aria-expanded="false" aria-controls="{{ attributes.id }}">
    <span class="sr-only">Show search</span>
    {% include "@sector_base/icon/icon.twig" with {
        icon: 'search',
    } %}
</button>
{{ include('sector_starter:search-form', {
    utility_classes: [
        'form',
        'search',
        'search--lg'
    ],
    libraries: [
        'sector_starter/form',
        'sector_starter/search',
        'sector_starter/search-lg'
    ]
} )}}