{#
/**
 * @file
 * Default theme implementation of a facet result item.
 *
 * Remove '(-)' and return hidden 'Deactivate facet' text/icon instead.
 */
#}
{% if is_active %}
  <span class="facet-item__status js-facet-deactivate">
  	<span class="action--deactivate-facet">
  		<span class="sr-only sr-only-focusable">Deactivate facet</span>
  	</span>
  </span>
{% endif %}
<span class="facet-item__value">{{ value }}</span>
{% if show_count %}
  <span class="facet-item__count">({{ count }})</span>
{% endif %}
