{#
/**
 * @file
 * Template for a Node.
 */
#}
<div class="@container/node">
{{ include("sector_demo:node", {
    libraries: ['sector_demo/' ~ node.bundle|clean_class ~ '--' ~ view_mode|clean_class ],
    utility_classes: [

    ]
})}}
</div>