/**
 * @file
 * Global typography
 */
body {
  font-size: $font-size-base;
  line-height: $line-height-base;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-family: $font-family-sans-serif-alt;
  font-weight: 700;
  color: $brand-blue-gray;
  @include font-smoothing;
  margin: 0;
  > a {
    &:focus {
      outline-offset: 0;
    }
  }
}

h1, .h1 { font-size: $font-size-h1; }
h2, .h2 { font-size: $font-size-h2; }
h3, .h3 { font-size: $font-size-h3; }
h4, .h4 { font-size: $font-size-h4; }
h5, .h5 { font-size: $font-size-h5; }
h6, .h6 { font-size: $font-size-h6; }

h1, .h1,
h2, .h2,
h3, .h3 {
  margin-top: $line-height-computed;
  margin-bottom: ($line-height-computed/2);
}
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: ($line-height-computed/2);
  margin-bottom: ($line-height-computed/2);
}

h1, .h1 {
  @include respond-to(mobile) {
    font-size: $font-size-h3;
  }
  @include respond-to(tablet) {
    font-size: $font-size-h2;
  }
}

h2, .h2 {
  @include respond-to(mobile) {
    font-size: $font-size-h4;
  }
  @include respond-to(tablet) {
    font-size: $font-size-h3;
  }
}

h3, .h3 {
  @include respond-to(mobile) {
    font-size: $font-size-h4;
  }
  @include respond-to(tablet) {
    font-size: $font-size-h4;
  }
}

h5, .h5 {
  font-weight: 700;
}

/* Special title for WYSIWYG Elements demo page (/section/wysiwyg-elements) */
.special__title {
  background-color: rgba(255,255,0,0.3);
  border-bottom: 1px solid $brand-border;
  padding: ($line-height-computed/2);
}

hr {
  border-top: 1px solid $brand-border;
}

.lead {
  font-weight: 400;
  margin-bottom: 0;
  font-size: floor(($font-size-base * 1.15));
  @include respond-to(tablet-and-up) {
    font-size: ($font-size-base * 1.5);
  }
}

p {
  margin: 0 0 ($line-height-computed/2);
  &:last-child {
    margin: 0;
  }
  a {
    &:focus {
      outline-offset: 0;
    }
  }
}

blockquote {
  border-left: 10px solid $brand-gray-light;
  font-size: $font-size-h4;
  line-height: $line-height-base;
  &.featured {
    color: $white;
    background-color: $gray-dark;
    border-left: none;
    @include respond-to(wide-and-up) {
      width: 400px;
    }
    cite,
    a {
      color: $white;
    }
  }
  footer {
    font-size: 70%;
  }
  cite {
    font-style: normal;
  }
}

.blockquote-reverse {
  border-right: 10px solid $brand-gray-light;
}

a {
  &:visited {
    color: $brand-visited;
  }
  &:focus {
    background-color: $brand-focused;
    outline: 3px solid $brand-focused;
    outline-offset: -3px;
  }
}

::-moz-selection {
  background: rgba(255, 255, 0, 0.3);
}

::selection {
  background: rgba(255, 255, 0, 0.3);
}

pre {
  border-radius: 0;
}

/* Legal style nested ordered lists */
ol {
  ol {
    list-style-type: lower-alpha;
    ol {
      list-style-type: lower-roman;
    }
  }
}
