{#
/**
 * @file
 * Template primary and secondary local tasks.
 */
#}
{% if primary %}
  <nav class="flex space-x-4" aria-label="{{ 'Primary tabs'|t }}">
    {{ primary }}
  </nav>
{% endif %}

{% if secondary %}
  <nav class="flex space-x-4" aria-label="{{ 'Secondary tabs'|t }}">
    {{ secondary }}
  </nav>
{% endif %}
