@import 'bootstrap/custom-bootstrap-variables';
@import 'mixins/links';

.action--more {
  display: flex;
  align-items: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;

  a.ext {
    @include external-link-icon;
  }
}


.action--back-to-top {

}