@import 'mixins/type';

@font-face {
    font-family: "NunitoSans";
    src: url("fonts/NunitoSans-Bold.eot");
    src: url("fonts/NunitoSans-Bold.eot?#iefix") format("embedded-opentype"),
    url("fonts/NunitoSans-Bold.woff2") format("woff2"),
    url("fonts/NunitoSans-Bold.woff") format("woff"),
    url("fonts/NunitoSans-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: "NunitoSans";
    src: url("fonts/NunitoSans-SemiBold.eot");
    src: url("fonts/NunitoSans-SemiBold.eot?#iefix") format("embedded-opentype"),
    url("fonts/NunitoSans-SemiBold.woff2") format("woff2"),
    url("fonts/NunitoSans-SemiBold.woff") format("woff"),
    url("fonts/NunitoSans-SemiBold.ttf") format("truetype");
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: "NunitoSans";
    src: url("fonts/NunitoSans-Regular.eot");
    src: url("fonts/NunitoSans-Regular.eot?#iefix") format("embedded-opentype"),
    url("fonts/NunitoSans-Regular.woff2") format("woff2"),
    url("fonts/NunitoSans-Regular.woff") format("woff"),
    url("fonts/NunitoSans-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "NunitoSans";
    src: url("fonts/NunitoSans-Light.eot");
    src: url("fonts/NunitoSans-Light.eot?#iefix") format("embedded-opentype"),
    url("fonts/NunitoSans-Light.woff2") format("woff2"),
    url("fonts/NunitoSans-Light.woff") format("woff"),
    url("fonts/NunitoSans-Light.ttf") format("truetype");
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: "NunitoSans";
    src: url("fonts/NunitoSans-Italic.eot");
    src: url("fonts/NunitoSans-Italic.eot?#iefix") format("embedded-opentype"),
    url("fonts/NunitoSans-Italic.woff2") format("woff2"),
    url("fonts/NunitoSans-Italic.woff") format("woff"),
    url("fonts/NunitoSans-Italic.ttf") format("truetype");
    font-style: italic;
    font-weight: normal;
}


.smooth-text {
  @include font-smoothing;
}