{#
/**
 * @file
 * Default theme implementation to display primary and secondary local tasks.
 *
 * Overrides bootstrap theme implementation.
 *
 * Update class from nav-tabs to nav-pills.
 *
 */
#}
{% if primary %}
  <h2 class="visually-hidden">{{ 'Primary tabs'|t }}</h2>
  <ul class="tabs--primary nav nav-pills">{{ primary }}</ul>
{% endif %}
{% if secondary %}
  <h2 class="visually-hidden">{{ 'Secondary tabs'|t }}</h2>
  <ul class="tabs--secondary pagination pagination-sm">{{ secondary }}</ul>
{% endif %}
