{#
/**
 * @file
 * Template for a Node.
 */
#}
<div class="@container/list-item">
{{ include("sector_starterkit:list-item-minimal", {
    libraries: ['sector_starterkit/' ~ node.bundle|clean_class ~ '--' ~ view_mode|clean_class ],
    title_classes: [ 'text-xl', 'lg:text-2xl', 'lg:leading-tight', 'font-custom-alt', 'font-semibold' ],
    title_link_attributes: title_link_attributes.setAttribute('rel', 'bookmark'),
    title_link_classes: ['hover:text-primary', 'focus-visible:text-primary'],
    utility_classes: [
        'list-item',
        'list-item--standard'
    ]
})}}
</div>
